{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Siamo specializzati nella creazione di Siti Web futuristici realmente utili.{% endblock %}

{# section title #}
{% block section_title %}Android e iPhone App{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li class="active"><a href="/servizi">Servizi</a></li><li>Android e iPhone App</li>{% endblock %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}
{% block services_app_navigation_active %}active{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Realizza strumenti per l'acquisizione di nuovi clienti e per dar nuova vita alla tua attività.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Il futuro è nelle App</h4>
					<hr>
					<p>Realizziamo App andorid e iPhone. Le App consentono di stabilire un rapporto molto diretto tra clienti ed esercenti. Grazie a tecnologie come le <a href="https://it.wikipedia.org/wiki/Notifica_push" target="_blank">notifiche push</a> possiamo spedire messaggi direttamente sugli smartphone dei clienti. Sebbene più potenti di siti statici e dinamici, hanno come contro il fatto di doverle pubblicizzare a dovere per farle installare da molti utenti.</p>
				</div>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h6>Puoi utilizzarlo per</h6>
					<ul>
					    <li class="li_icon">Ottenere nuovi clienti</li>
					    <li class="li_icon">Fidelizzare i tuoi utenti</li>
					    <li class="li_icon">Mandare offerte, sconti e coupon ai tuoi clienti</li>
					    <li class="li_icon">Permettere ai tuoi clienti di rimanere aggiornati sulle tue ultime offerte</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Qualche consiglio...</h4>
					<hr>
					<p>Sebbene possa sembrare la scelta migliore per iniziare, un'App ha una metodologia di utilizzo più complessa, in quanto necessita di installazione, quindi risulta fondamentale contornarla da una campagna pubblicitaria d'effetto e ad-hoc.<br />Nella maggior parte dei casi consigliamo lo sviluppo di App a seguito di un sito web già funzionante con molti utenti, così da potersi autopromuoversi ed ottenere subito molte installazioni.</p>
				</div>
			</div>
		</div>
		{# get discount block #}
		{% include "website/blocks/get_service_discount.html" with service_desc="la creazione di un'App" service_type="Creazione App" service_discount=project_constants.SERVICE_BONUS_DISCOUNT only %}
	</section>
	<!-- About Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
