{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}{{ project_constants.seo_data.www_contact_us.description }}{% endblock %}

{# extra css #}
{% block extra_css %}<link type="text/css" rel="stylesheet" href="{% static "website/css/order-form.css" %}">{% endblock %}

{# menu active element #}
{% block contact_us_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}{{ project_constants.seo_data.www_contact_us.page_title }}{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Contact Area Start -->
	<section class="contact-area">
		<div class="container text-center">
			<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Contattaci adesso!</h2>
			<div id="anchor1" class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">&quot; Richiedi le informazioni che preferisci, ti risponderemo nel più breve tempo possibile. Il preventivo è completamente <b>GRATUITO</b>, cosa aspetti, entra anche tu nel futuro e cambia in meglio il modo di lavorare.&quot;</div>
			<!-- Start: Contact Form Area -->
			<div class="contact-form-main clearfix">
				<form name="contact" method="post">
					<div id="contact-form">
						<input type="text" id="contact-name" class="first-field animated" data-animation="fadeInUp" data-animation-delay="200" name="" placeholder="Il Tuo Nome *">
						<input type="text" id="contact-email" class="second-field animated" data-animation="fadeInUp" data-animation-delay="400" name="" placeholder="La Tua Email *">
						<input type="text" id="contact-phone" class="third-field animated" data-animation="fadeInUp" data-animation-delay="600" name="" placeholder="Il Tuo Telefono">
						<textarea id="contact-msg" class="forth-field animated" data-animation="fadeInUp" data-animation-delay="800" name="" placeholder="Scrivi Qui La Tua Richiesta *"></textarea>
						<input type="text" id="promo-code" class="third-field promo-code-input animated" data-animation="fadeInUp" data-animation-delay="600" name="" placeholder="Codice promozionale" value="{% if promo_code %}{{ promo_code }}{% endif %}">
						<div class="submit-form-container">
							<button type="submit" id="contact-submit" class="input-submit animated" data-animation="fadeInUp" data-animation-delay="1000">Richiedi informazioni</button>
						</div>
					</div>
					<div id="contact-loading">
						Invio in corso...
					</div>
					<div id="contact-success">
						Il tuo messaggio è stato inviato con successo, una risposta ti arriverà nel più breve tempo possibile. Grazie!
					</div>
					<div id="contact-failed">
						Ops...invio non riuscito, riprova più tardi.
					</div>
				</form>
			</div>
			<!-- End: Contact Form Area -->
			<!-- Start: Contact Address Area -->
			<div class="contact-address clearfix">
				<div class="col-md-6 animated" data-animation="fadeInLeft" data-animation-delay="200">
					<i class="fa fa-building-o"></i>
					<h5>Posizione</h5>
					<p>Torino, Italia</p>
				</div>
				<div class="col-md-6 animated" data-animation="fadeInRight" data-animation-delay="600">
					<i class="fa fa-envelope"></i>
					<h5>Email</h5>
					<p><strong><a href="mailto:&#105;&#110;&#102;&#111;&#64;&#101;&#110;&#116;&#112;&#121;&#46;&#99;&#111;&#109;?subject=Richiesta informazioni">&#105;&#110;&#102;&#111;&#64;&#101;&#110;&#116;&#112;&#121;&#46;&#99;&#111;&#109;</a></strong></p>
				</div>
			</div>
			<!-- End: Contact Address Area -->
			<!-- Start: Social Icons Area -->
			<div class="social-main">
				<ul class="social">
					<li class="animated" data-animation="fadeInRight" data-animation-delay="100"><a href="https://www.facebook.com/Entpy-Software-1070693829633976/" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li class="animated" data-animation="fadeInRight" data-animation-delay="200"><a href="https://twitter.com/entpy" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li class="animated" data-animation="fadeInRight" data-animation-delay="200"><a href="https://plus.google.com/+Entpy-Software" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				</ul>
			</div>
			<!-- End: Social Icons Area -->
		</div>
	</section>
	<!-- Contact Area End -->
{% endblock %}
{% block extra_js %}
	<script>
	    function c(c) {
		var t = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
		return t.test(c)
	    }

	    function t() {
		$("#contact-error").hide();
		var t = "yes",
		a = $("#contact-name").val();
		"" == a && ("yes" == t && $("#contact-name").focus(), $("#contact-name").addClass("error"), t = "no");
		var e = $("#contact-email").val();
		"" == e && ("yes" == t && $("#contact-email").focus(), $("#contact-email").addClass("error"), t = "no"), c(e) || ("yes" == t && $("#contact-email").focus(), $("#contact-email").addClass("error"), t = "no");
		var o = $("#contact-phone").val();
		var n = $("#contact-msg").val();
		var promo_code = $("#promo-code").val();
		// reading csrfmiddlewaretoken from cookie
		var csrftoken = readCsrftokenFromCookie();

		("" == n || "Your Message *" == n) && ("yes" == t && $("#contact-msg").focus(), $("#contact-msg").addClass("error"), t = "no"), "yes" != t ? $("#contact-error").show().html("Ricontrolla i dati che hai inserito sopra") : ($("#contact-error").hide(), $("#contact-success").hide(), $("#contact-failed").hide(), $("#contact-form").hide(), $("#contact-loading").show(), $.ajax({
		    url: "/send_info_email/",
		    type: "post",
		    cache: !1,
		    headers: { "X-CSRFToken": csrftoken },
		    data: {
			name: a,
			email: e,
			phone: o,
			msg: n,
			promo_code: promo_code
		    },
		    success: function(c) {
			true == c.success ? ($("#contact-error").hide(), $("#contact-failed").hide(), $("#contact-form").hide(), $("#contact-loading").hide(), $("#contact-success").show(), $("#contact-name").val(""), $("#contact-email").val(""), $("#contact-phone").val(""), $("#contact-msg").val(""), $("#promo-code").val(""), setTimeout("$('#contact-success').hide();$('#contact-form').show();", 5e3)) : ($("#contact-error").hide(), $("#contact-success").hide(), $("#contact-form").hide(), $("#contact-loading").hide(), $("#contact-failed").show(), setTimeout("$('#contact-failed').hide();$('#contact-form').show();", 5e3))
		    }
		}))
	    }
	    $(document).ready(function() {
		$("#contact-submit").click(function(c) {
		    c.preventDefault(), t()
		}), $("input:text, textarea").keyup(function() {
		    $(this).removeClass("error")
		}), $("#contact-error").hide(), $("#contact-loading").hide(), $("#contact-success").hide(), $("#contact-failed").hide(), $("#rsvp-error").hide(), $("#rsvp-loading").hide(), $("#rsvp-success").hide(), $("#rsvp-failed").hide()
	    });
	</script>
{% endblock extra_js %}
