{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{# menu active element #}
{% block portfolio_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}Portfolio{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li>Portfolio</li>{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Portfolio Area Start -->
	<section class="portfolio-main" id="portfolio">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in condimentum odio dolor sit amet, consectetur dolor sit amet  pellentesque libero. &quot;</div>
		</div>
		<!-- Start: portfolio Area -->
		<div class="portfolio-items">
			<ul class="portfolio-link button-group clearfix animated" data-animation="fadeInUp" data-animation-delay="200" id="filters">
				<li><a data-filter="*" class="is-checked">All Projects</a></li>
				<li><a data-filter=".webdesign">Web Design</a></li>
				<li><a data-filter=".logo-design">Logo Design</a></li>
				<li><a data-filter=".wordpress">WordPress</a></li>
			</ul>
			<ul class="portfolio-content clearfix">
				<li class="portfolio-items webdesign">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-01.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-01.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items wordpress">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-02.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-02.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items webdesign">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-03.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-03.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items webdesign">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-04.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-04.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items webdesign">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-05.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-05.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items wordpress">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-06.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-06.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items wordpress">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-07.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-07.jpg" %}" alt="">
					</div>
				</li>
				<li class="portfolio-items logo-design">
					<div class="port-image">
						<span class="mask">
						<a href="{% static "website/img/portfolio-08.jpg" %}" class="zoom"><i class="fa fa-search-plus"></i></a>
						<a href="#"><i class="fa fa-link"></i></a>
						</span>
						<img src="{% static "website/img/portfolio-08.jpg" %}" alt="">
					</div>
				</li>
			</ul>
		</div>
		<!-- End: portfolio Area -->
	</section>
	<!-- Portfolio Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->

	<!-- Client Logos Area Start -->
	{% include "website/blocks/bar2.html" %}
	<!-- Client Logos Area End -->
{% endblock %}
