{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Siamo specializzati nella creazione di Siti Web futuristici realmente utili.{% endblock %}

{# section title #}
{% block section_title %}SEO{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li class="active"><a href="/servizi">Servizi</a></li><li>SEO</li>{% endblock %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}
{% block services_seo_navigation_active %}active{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Realizza strumenti per l'acquisizione di nuovi clienti e per dar nuova vita alla tua attività.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>A cosa serve</h4>
					<hr>
					<p>Con il SEO (<a href="https://it.wikipedia.org/wiki/Ottimizzazione_%28motori_di_ricerca%29" target="_blank">Search Engine Optimization</a>) si intendono una serie di attività e best practices secondo le quali i siti vanno sviluppati e strutturati, parte di queste ottimizzazioni sono peculiari di alcuni motori di ricerca (Google, Bing, ...).<br />Questa tecnica, se utilizzata a dovere, permette ai motori di ricerca di digerire meglio un sito web, posizionandolo nei primi risultati (<a href="https://it.wikipedia.org/wiki/Search_engine_results_page" target="_blank">SERP</a>) quando gli argomenti della ricerca, ovvero le keywords di ricerca (su Google per esempio), sono pertinenti con quanto trattato nel sito.</p>
				</div>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h6>Puoi utilizzarlo per</h6>
					<ul>
					    <li class="li_icon">Raggiungere i clienti giusti al momento giusto</li>
					    <li class="li_icon">Posizionare il sito tra i primi risultati di Google e affini</li>
					    <li class="li_icon">Ottenere i vari standard del web, come il <a href="https://www.w3.org/" target="_blank">W3C</a></li>
					    <li class="li_icon">Ottenere visite sul sito stabili e consolidate nel lungo periodo</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Qualche consiglio...</h4>
					<hr>
					<p>La pratica del SEO va svolta fin dall'inizio nella creazione di un sito web, non andrebbe rinviata a momenti successivi, in quanto non attuarla potrebbe essere dannoso per il sito web.</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated wizard-call-to-action-block" data-animation="fadeInUp" data-animation-delay="200">
					<h3>Non sai se è la scelta giusta per te?</h3>
					<p>Utilizzando il configuratore guidato ti aiutiamo nella scelta più adatta alle tue esigenze.<br />Per te, in omaggio, un <b>buono sconto</b> da utilizzare sui nostri servizi.</p>
					<a class="btn button-large" href="/scelta-guidata">Vai al configuratore</a>
					<p class="or">oppure</p>
					<p><a href="/contatti">Contattaci adesso</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- About Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
