{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}{{ project_constants.seo_data.www_about.description }}{% endblock %}
{% block title %}{{ project_constants.seo_data.www_about.tag_title }}{% endblock %}

{# menu active element #}
{% block about_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}{{ project_constants.seo_data.www_about.page_title }}{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Siamo specializzati nella creazione di software pulito, <b>utile</b> ed <b>avanzato</b>.<br />Utilizziamo gli strumenti necessari per creare delle vere perle tecnologiche che possano <b>migliorare</b> il tuo modo di vivere e di lavorare.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Entpy = ...</h4>
					<hr>
					<p>Prima di tutto siamo appassionati di informatica, adoriamo tenerci informati sulle nuove tecnologie. Ci piace applicare dei semplici concetti nella vita reale, cercando di renderla migliore per tutti. Le nostre idee prependono per l'open source, anche tutti gli strumenti utilizzati per realizzare il tuo sito hanno questa natura. Questo ti offre la garanzia che i nostri prodotti siano frutto del panorama informatico più attivo, aggiornato e sicuro.</p>
				</div>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Tab Area -->
				<div class="col-md-12 about-tab animated" data-animation="fadeInUp" data-animation-delay="200">
					<div id="tab-container">
						<ul class="etabs clearfix">
							<li class="tab active"><a href="#tab-01" class="active"><i class="fa fa-eye"></i> Visione</a> </li>
							<li class="tab"><a href="#tab-02"><i class="fa fa-trophy"></i> Obiettivo</a> </li>
						</ul>
						<div class="panel-container">
							<!-- Start: Tab 01 -->
							<div id="tab-01" class="tab-cont clearfix active">
								<div class="tab-cont-right"> <img src="{% static "website/img/vision.png" %}" alt="La nostra visione"> </div>
								<div class="tab-cont-left">
									<h6>La nostra visione</h6>
									<p>L'informatica si è radicata pian piano nella nostra cultura, divenendo parte integrante della nostra vita. Alcuni la sottovalutano, altri la sfruttano, altri la vedono come un'arte da modellare per realizzare le cose più incredibili. La vision di Entpy è questo: arte modellata al di sopra del resto.</p>
								</div>
							</div>
							<!-- End: Tab 01 -->
							<!-- Start: Tab 02 -->
							<div id="tab-02" class="tab-cont clearfix">
								<div class="tab-cont-right"> <img src="{% static "website/img/mission.png" %}" alt="Il nostro obiettivo"> </div>
								<div class="tab-cont-left">
									<h6>Il nostro obiettivo</h6>
									<p>Il nostro obiettivo è quello di realizzare strumenti informatici che siano utili ed abbiano davvero un potenziale, per esempio un sistema che converta le visite in qualcosa di concreto, come possono essere dei nuovi clienti.<br />Fidati...sappiamo come creare il tuo ecosistema digitale di successo.</p>
								</div>
							</div>
							<!-- End: Tab 02 -->
						</div>
					</div>
				</div>
				<!-- End: Tab Area -->
			</div>
		</div>
	</section>
	<!-- About Area End -->

	<!-- About Color Start -->
	<section class="about-area-inner">
		<!-- Start: About Top -->
		<div class="about-top-area">
			<div class="container">
				{% include "website/blocks/bar3.html" %}
			</div>
		</div>
		<!-- End: About Top -->
	</section>
	<!-- About Color End -->

	<!-- About Page Content Start -->
	<section class="about-pg-cont text-center">
		<div class="container clearfix">
			<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Qui sei nel posto giusto</h2>
			<div class="about-pg-texts">
				<!-- Start: Left Content -->
				<div class="col-md-6">
					<h4 class="color">La migliore presenza online che si possa avere...!</h4>
					<p>Creiamo la tua presenza online di successo, facciamo in modo che il tuo spazio diventi il punto di riferimento per i tuoi clienti e per quelli che lo diventeranno.<br><br></p>
					<p>Prova ad immaginare come modificare in meglio la tua attività, noi possiamo farlo! Per esempio ampliando il tuo audience, facendo conoscere meglio chi sei e quello che fai, in modo che tu raggiunga nuovi clienti con uno strumento completamente tuo e progettato per te.<br />Realizzaimo il sito internet che hai sempre sognato ma non solo, ci assicuriamo che funzioni davvero per lo scopo per il quale è stato progettato.<br />Abbiamo le idee giuste per te.</p>
				</div>
				<!-- End: Left Content -->
				<!-- Start: Right Content -->
				<div class="col-md-6">
					<h4 class="color">I nostri punti di forza</h4>
					<p>Qualche punto di forza che ci contraddistingue dagli altri. Per vedere la lista completa di tutto quello che offriamo sempre nella realizzazione del tuo sito <a href="/servizi/">clicca qui</a>.<br><br></p>
					<ul class="icon-list">
						<li><i class="fa fa-lightbulb-o"></i> troviamo la soluzione per il 99.99% dei problemi</li>
						<li><i class="fa fa-paint-brush"></i> interfacce grafiche altamente usabili ad elevato impatto grafico</li>
						<li><i class="fa fa-paw"></i> seguiamo maniacalmente gli standard per garantire prodotti di qualità</li>
						<li><i class="fa fa-newspaper-o"></i> creiamo la tua immagine digitale di successo</li>
						<li><i class="fa fa-motorcycle"></i> ti forniamo piccoli capolavori che ti faranno andare lontano</li>
					</ul>
				</div>
				<!-- End: Right Content -->
			</div>
		</div>
	</section>
	<!-- About Page Content End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
