{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Creiamo la tua presenza online completa al 100%: SEO, qualità, sicurezza e creatività.{% endblock %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}Non è solo un "sito"{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li>Non chiamatelo sito</li>{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Services Area Start -->
	<section class="services-main" id="services">
		<div class="container">
			{% include "website/blocks/services.html" %}
		</div>
	</section>
	<!-- Services Area End -->
	<!-- Want More Area Start -->
	<section class="want-more-main">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Non ti basta?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="600">Offriamo strumenti di qualità...<br />Per far decollare la tua impresa!</div>
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon"><i class="fa fa-paint-brush"></i></div>
							<div class="features-cont">
								<h6>Design Personalizzati</h6>
								<hr>
								<p>Realizziamo un design adatto alla tua realtà molto bello e funzionale, per elevare la tua immagine.</p>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon"><i class="fa fa-link"></i></div>
							<div class="features-cont">
								<h6>Ottimizzazione SEO</h6>
								<hr>
								<p>Seguiamo le best practices nella realizzazione del tuo sito, rendendolo allettante per i motori di ricerca e di conseguenza maggiormente reperibile dai tuoi visitatori e potenziali clienti.</p>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Completamente Responsive</h6>
								<hr>
								<p>Tutti i nostri siti sono sempre ottimizzati per un range di dispositivi molto ampio: andiamo dagli smartphone, ai tablet fino ai desktop, è importante che ogni device abbia la corretta usabilità per convertire i visitatori in potenziali clienti.</p>
							</div>
						</div>
						<!-- End: Features 03 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-7 want-more-right animated" data-animation="fadeIn" data-animation-delay="200"><img class="big-image" src="{% static "website/img/executive.png" %}" alt=""></div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
