{% extends "website/inc/base1.html" %}
{% load staticfiles static %}

{% block description %}{{ project_constants.seo_data.www_index.description }}{% endblock %}
{% block meta_title %}{{ project_constants.seo_data.www_index.tag_title }}{% endblock %}

{# menu active element #}
{% block home_navigation_active %}active{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-area" id="about">
		<!-- Start: About Top -->
		<div class="about-top-area">
			<div class="container">
				<!-- Start Top Image -->
				<div class="top-float-img">
					<div class="image-container"><img src="{% static "website/img/rocket.png" %}" alt="Facciamo decollare la tua attività"> </div>
				</div>
				<!-- End Top Image -->
				<h2 class="animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="100">Siti Web all'avanguardia</h2>
				<h5 class="animated" data-animation="fadeInUp" data-animation-delay="200">concepiti per portarti valore</h5>
				<hr class="special">
				{% include "website/blocks/bar3.html" %}
			</div>
		</div>
		<!-- End: About Top -->
	</section>
	<!-- About Area End -->
	<!-- Statistics Area Start -->
	<section class="statistics-main">
		<div class="solid-bg">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Statstics 01 -->
					<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="200">
						<span class="icon-cont">
							<i class="fa fa-heart"></i>
						</span>
						<span class="count-txt">Passione</span>
					</div>
					<!-- End: Statstics 01 -->
					<!-- Start: Statstics 02 -->
					<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="400">
						<span class="icon-cont">
							<i class="fa fa-lightbulb-o"></i>
						</span>
						<span class="count-txt">Idee</span>
					</div>
					<!-- End: Statstics 02 -->
					<!-- Start: Statstics 03 -->
					<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="600">
						<span class="icon-cont">
							<i class="fa fa-thumbs-o-up"></i>
						</span>
						<span class="count-txt">Qualità</span>
					</div>
					<!-- End: Statstics 03 -->
					<!-- Start: Statstics 04 -->
					<div class="col-md-3 col-cont animated" data-animation="fadeInRight" data-animation-delay="800">
						<span class="icon-cont">
							<i class="fa fa-diamond"></i>
						</span>
						<span class="count-txt">Risultati</span>
					</div>
					<!-- End: Statstics 04 -->
				</div>
			</div>
		</div>
	</section>
	<!-- Statistics Area End -->
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Realizziamo il tuo sito internet secondo le più moderne tecniche<br />ponendo in primo piano l'obiettivo da raggiungere più adatto a te.<br />Affidati ad Entpy e raggiungi quel passo in più che ti farà distinguere dalla concorrenza.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-md-4 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Come lo facciamo</h4>
					<hr>
					<p>Ecco come il software dovrebbe essere: <b>bello</b>, <b>semplice</b> e <b>utile</b>. Questi sono i tre piloni portanti sui quali sorge <b>Entpy</b>.</p>
					<p>I nostri prodotti sono rivolti a privati, ma anche a piccole e medie imprese.</p>
				</div>
				<!-- Start: Story Area -->
				<!-- Start: Tab Area -->
				<div class="col-md-8 about-tab animated" data-animation="fadeInUp" data-animation-delay="400">
					<div id="tab-container">
						<ul class="etabs clearfix">
							<li class="tab active"><a href="#tab-01" class="active"><i class="fa fa-crosshairs"></i> 1. Obiettivi</a></li>
							<li class="tab"><a href="#tab-02"><i class="fa fa-cogs"></i> 2. Progetto</a></li>
							<li class="tab"><a href="#tab-03"><i class="fa fa-wrench"></i> 3. Realizzazione</a></li>
							<li class="tab"><a href="#tab-04"><i class="fa fa-flag-checkered"></i>4. Traguardo</a></li>
						</ul>
						<div class="panel-container">
							<!-- Start: Tab 01 -->
							<div id="tab-01" class="tab-cont clearfix active">
								<div class="tab-cont-right">
									<img src="{% static "website/img/obiettivi.png" %}" alt="L'analisi del progetto">
								</div>
								<div class="tab-cont-left">
									<h6>L'analisi del progetto</h6>
									<p>Prima di entrare nella fase di progettazione, è fondamentale definire gli obiettivi che si vogliono raggiungere. Ad alcuni interessa l'incremento dei clienti, ad altri interessa rendere più partecipe la clientela attiva, altri ancora hanno bisogno di sistemi di gestione più o meno complessi con lo scopo di facilitare, o addirittura automatizzare, lo svolgimento di determinate azioni. In questa fase definiamo tutte queste cose.</p>
								</div>
							</div>
							<!-- End: Tab 01 -->
							<!-- Start: Tab 02 -->
							<div id="tab-02" class="tab-cont clearfix">
								<div class="tab-cont-right">
									<img src="{% static "website/img/progettazione.png" %}" alt="La progettazione">
								</div>
								<div class="tab-cont-left">
									<h6>La progettazione</h6>
									<p>Terminata la prima fase di raccolta informazioni, si passa alla produzione di un documento facilmente leggibile dal cliente, ma anche fondamentale da chi dovrà poi realizzare il sito internet (noi!). Da questa base inizierà lo sviluppo vero e proprio del sito.</p>
								</div>
							</div>
							<!-- End: Tab 02 -->
							<!-- Start: Tab 03 -->
							<div id="tab-03" class="tab-cont clearfix">
								<div class="tab-cont-right">
									<img src="{% static "website/img/realizzazione.png" %}" alt="La realizzazione">
								</div>
								<div class="tab-cont-left">
									<h6>La realizzazione</h6>
									<p>In questa fase tutto è ben definito, dallo studio della grafica fino alle funzionalità che il sito dovrà avere. In genere in questa fase il cliente dovrà attendere che il suo nuovo sito internet venga realizzato in tutte le sue parti. Il prodotto di questa fase sarà davvero fantastico.</p>
								</div>
							</div>
							<!-- End: Tab 03 -->
							<!-- Start: Tab 04 -->
							<div id="tab-04" class="tab-cont clearfix">
								<div class="tab-cont-right">
									<img src="{% static "website/img/traguardo.png" %}" alt="Il traguardo">
								</div>
								<div class="tab-cont-left">
									<h6>Il traguardo</h6>
									<p>Completata la realizzazione del sito web, si procederà con la messa online. Da questo momento in poi rimarremo fianco a fianco con te per fornirti assistenza. Inoltre, ci impegneremo a colmare le lacune che non permettono al sito di funzionare a dovere, questo è possibile solo analizzando i dati dopo la messa online. Il tuo successo è il nostro traguardo</p>
								</div>
							</div>
							<!-- End: Tab 04 -->
						</div>
					</div>
				</div>
				<!-- End: Tab Area -->
			</div>
		</div>
	</section>
	<!-- About Area End -->
	<!-- Team Area Start -->
	<section class="team-area-top text-center">
		<div class="container">
			<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Ti Aiutiamo Nel Tuo Successo</h2>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Il nostro obiettivo non è quello di fare un sito, il nostro obiettivo è quello di realizzare uno strumento plasmato ad-hoc attorno a te che sia funzionante e porti dei <b>risultati</b> ben definiti. Contattaci per un <b>preventivo gratuito</b>, siamo sicuri che troverai le nostre <b>idee utili</b> ed <b>efficaci</b>.</div> <a href="/contatti/" class="button-large animated" data-animation="fadeInUp" data-animation-delay="400">Contattaci adesso</a></div>
		<div class="team-image-big"><img src="{% static "website/img/team-big.jpg" %}" alt="Ti Aiutiamo Nel Tuo Successo"> </div>
	</section>
	<!-- Team Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
