{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Abbiamo le idee giuste per te. Il preventivo è completamente gratuito.{% endblock %}

{# extra css #}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static "website/css/order-form.css" %}">
<style>
	.wizard-form, .site-form { padding-top: 40px; }
	.wizardRequiredTitle { margin-bottom: 20px; margin-top: 40px; }
	li.li_exists, li.li_not_exists { list-style-type: none; }
	li.li_exists:before { content: "\f00c"; color: green; font-family: FontAwesome; display: inline-block; margin-left: -1.3em; width: 1.3em; } /* V */
	li.li_not_exists:before { content: "\f00d"; color: red; font-family: FontAwesome; display: inline-block; margin-left: -1.3em; width: 1.3em; } /* X */
	.contact_us_box { margin-top: 30px; }
	.couponCode { color: #333; display: inline-block; font-size: 22px; font-weight: bold; margin: 20px 0; }
	.promo_code_info { font-size: 12px; margin: 0; }
	.order-opt-link { padding: 40px 10px 30px; }
	.order-opt-link .text { display: table-cell; height: 95px; padding: 10px 0; vertical-align: middle; }
	.site-form-title { margin-top: 45px; }
	.order-opt-link-small .text { height: 45px; }
</style>
{% endblock %}

{# menu active element #}
{% block wizard_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}Scelta guidata{% endblock %}
{% block base3_title %}{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Contact Area Start -->
	<section class="about-main">
		<div class="container text-center">
			<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Senza il sito web adatto<br />stai perdendo grandi opportunità!</h2>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Ti aiutiamo nella scelta dell'obiettivo più adatto a te.</div>
			<h5 class="animated" data-animation="fadeInUp" data-animation-delay="400">Qual'è il tuo problema principale? (Clicca sui box sotto per selezionare)</h5>
			{# seleziona il tuo problema principale {{{ #}
			<div class="wizard-form wizardScroll1">
				<div class="container text-center">
					<!-- Order Buttons Start -->
					<div class="order-btns clearfix">
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noVisibilityHelp">
							<span class="icon"><i class="fa fa-child"></i></span>
							<span class="text">Non ho abbastanza visibilità</span>
							</a>
						</div>
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noCustomersHelp">
							<span class="icon"><i class="fa fa-user-times"></i></span>
							<span class="text">Non riesco ad attirare nuovi clienti</span>
							</a>
						</div>
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noSalesHelp">
							<span class="icon"><i class="fa fa-money"></i></span>
							<span class="text">Ho molti clienti ma non ottengo abbastanza risultati</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			{# seleziona il tuo problema principale }}} #}
			{# hai già un sito web? {{{ #}
			<span class="wizardScroll2"></span>
			<div class="siteSelectionBlock" style="display: none;">
				<h5 class="site-form-title animated" data-animation="fadeInUp" data-animation-delay="400">Possiedi già un sito web?</h5>
				<div class="site-form">
					<div class="container text-center">
						<!-- Order Buttons Start -->
						<div class="order-btns clearfix">
							<div class="col-md-4 col-md-offset-1">
								<a class="order-opt-link order-opt-link-small siteClickAction" data-site-exists="siteNo">
								<span class="icon"><i class="fa fa-toggle-off"></i></span>
								<span class="text">Non ho un sito web</span>
								</a>
							</div>
							<div class="col-md-4 col-md-offset-2">
								<a class="order-opt-link order-opt-link-small siteClickAction" data-site-exists="siteYes">
								<span class="icon"><i class="fa fa-toggle-on"></i></span>
								<span class="text">Si, ho un sito web</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{# hai già un sito web? }}} #}
			{# soluzione {{{ #}
			<!-- visibilità - no sito -->
			<div class="tipListAction noVisibilityHelp_siteNo" style="display: none;">
				<h5 class="site-form-title animated" data-animation="fadeInUp" data-animation-delay="400">Non ho abbastanza visibilità</h5>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per questa tipologia di problemi, la soluzione è creare un'identità online.<br /><br />
					La nostra proposta è iniziare con un sito web definito "statico", ovvero un sito nel quale ci si presenta, si elencano i servizi offerti e si da la possibilità di essere contattati.<br /><br />
					Il sito va poi "agganciato" con la pagina Facebook e/o Google plus per poter iniziare a generare le prime visite e magari, i primi potenziali clienti.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<span>Le voci segnate in rosso sono </span>
					<ul>
					    <li class="li_not_exists">Sito web statico di presentazione</li>
					    <li class="li_not_exists">Pagina di contatto</li>
					    <li class="li_not_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_not_exists">SEO</li>
					    <li class="li_not_exists">Pubblicità su Google, Facebook e affini (facoltativo)</li>
					</ul>
				</div>
			</div>
			<!-- visibilità - si sito -->
			<div class="tipListAction noVisibilityHelp_siteYes" style="display: none;">
				<h4>Non ho abbastanza visibilità</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per questa tipologia di problemi occorre attuare determinate strategie in modo da mettere la propria immagine più in evidenza.<br /><br />
					E' necessario intervenire sul sito già esistente in termini di ottimizzazione SEO e creare delle campagne pubblicitarie ad-hoc per portare nuovo traffico.<br /><br />
					Inoltre conviene "agganciare" il tuo sito web con la tua pagina Facebook e con Google plus per poter godere di più visibilità.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<ul>
					    <li class="li_exists">Sito web statico di presentazione</li>
					    <li class="li_exists">Pagina di contatto</li>
					    <li class="li_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_not_exists">SEO</li>
					    <li class="li_not_exists">Pubblicità su Google, Facebook e affini</li>
					</ul>
				</div>
			</div>
			<!-- no clienti - no sito -->
			<div class="tipListAction noCustomersHelp_siteNo" style="display: none;">
				<h4>Non riesco ad attirare nuovi clienti</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per queste tipologie di problemi possono esserci più soluzioni, tutto dipende da quale attività svolgi.<br /> Facciamo l'esempio di una pizzeria (una pizzeria di qualità). I prodotti sono buoni, ma i clienti scarseggiano. Possiamo intervenire su più fronti.<br /><br />
					Prima di tutto occorre che il tuo sito sia in grado di ricevere pubblicità. Certo! Perchè pubblicizzare un prodotto come una pizza "buttando" un potenziale cliente su un sito, senza instradarlo a dovere, equivale a perdere la vendita nel 99% dei casi.<br /><br >
					La soluzione, nel caso della pizzeria, è quella di realizzare una sezione nel tuo sito, ovviamente ottimizzata per tutti i dispositivi, che permetta al potenziale cliente di prenotare il tavolo e magari, offrire uno sconto se la prenotazione avviene entro pochi minuti.<br />
					Realizzando soluzioni innovative di questo tipo, potrai aumentare esponenzialmente la possibilità di acquisire nuova clientela.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<ul>
					    <li class="li_not_exists">Sito web statico di presentazione</li>
					    <li class="li_not_exists">Pagina di contatto</li>
					    <li class="li_not_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_not_exists">SEO</li>
					    <li class="li_not_exists">Landing page dinamica</li>
					    <li class="li_not_exists">Pubblicità su Google, Facebook e affini (facoltativo)</li>
					</ul>
				</div>
			</div>
			<!-- no clienti - si sito -->
			<div class="tipListAction noCustomersHelp_siteYes" style="display: none;">
				<h4>Non riesco ad attirare nuovi clienti</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per queste tipologie di problemi possono esserci più soluzioni, tutto dipende da quale attività svolgi.<br /> Facciamo l'esempio di una pizzeria (una pizzeria di qualità). I prodotti sono buoni, ma i clienti scarseggiano. Possiamo intervenire su più fronti.<br /><br />
					Prima di tutto occorre che il tuo sito sia in grado di ricevere pubblicità. Certo! Perchè pubblicizzare un prodotto come una pizza "buttando" un potenziale cliente su un sito, senza instradarlo a dovere, equivale a perdere la vendita nel 99% dei casi.<br /><br >
					La soluzione, nel caso della pizzeria, è quella di realizzare una landing page dinamica, ottimizzata per tutti i dispositivi, che permetta al potenziale cliente di prenotare il tavolo e magari, offrire uno sconto se la prenotazione avviene entro pochi minuti.<br /><br />
					La landing page è una soluzione non invasiva, che permette al tuo sito di non subire alcuna modifica, in caso è possibile integrarla senza troppi problemi.<br />
					Realizzando soluzioni innovative di questo tipo, potrai aumentare esponenzialmente la possibilità di acquisire nuova clientela.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<ul>
					    <li class="li_exists">Sito web statico di presentazione</li>
					    <li class="li_exists">Pagina di contatto</li>
					    <li class="li_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_not_exists">SEO</li>
					    <li class="li_not_exists">Landing page dinamica</li>
					    <li class="li_not_exists">Pubblicità su Google, Facebook e affini (facoltativo)</li>
					</ul>
				</div>
			</div>
			<!-- no vendite - no sito -->
			<div class="tipListAction noSalesHelp_siteNo" style="display: none;">
				<h4>Ho un buon numero di clienti ma non ottengo abbastanza risultati</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Questa tipologia di problemi ha diverse soluzioni, ma tutte confluiscono nel "conoscere meglio" i propri clienti.<br /><br />
					Questo cosa vuol dire?<br />
					Significa che ogni persona ha delle esigenze diverse l'una dall'altra. Per ottenere un alto tasso di ritorno dei clienti, dobbiamo prima conoscerli, quindi mandare solo offerte personalizzate e targhettizzate sulla base dei loro interessi.<br /><br />
					Facciamo un esempio: prendiamo una pizzeria e chiamiamo l'ipotetico propritatio Tony.
					Tony ha una buona base di clienti, ha un suo sito web e utilizza Facebook per rimanere in contatto con loro.<br />
					Tony vorrebbe promuovere una delle sue pizze migliori, la "Focaccia ghiottona super farcita", per farlo potrebbe creare un post su Facebook, ma le conversioni (chi effettivamente verrà per gustare la focaccia) saranno molto basse se non nulle.<br /><br />
					Questo perchè proporre un'offerta ad un pubblico ampio, senza prima valutare gli interessi, non è la chiave per aumentare le proprie vendite.<br /><br />
					La soluzione è conoscere gli interessi dei propri clienti, sapere chi adora la focaccia, quindi mandare direttamente a loro l'offerta tramite differenti canali.<br /><br />
					Mandare offerte targettizzate, basate sugli interessi, aumenta notevolmente la possibilità che un cliente generi un acquisto.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<ul>
					    <li class="li_not_exists">Sito web dinamico con database di clienti</li>
					    <li class="li_not_exists">Pagina di contatto</li>
					    <li class="li_not_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_not_exists">SEO</li>
					    <li class="li_not_exists">Pagina di fidelizzazione clienti</li>
					    <li class="li_not_exists">Sistema di invio offerte targettizzate, sconti e promozioni</li>
					</ul>
				</div>
			</div>
			<!-- no vendite - si sito -->
			<div class="tipListAction noSalesHelp_siteYes" style="display: none;">
				<h4>Ho un buon numero di clienti ma non ottengo abbastanza risultati</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Questa tipologia di problemi ha diverse soluzioni, ma tutte confluiscono nel "conoscere meglio" i propri clienti.<br /><br />
					Questo cosa vuol dire?<br />
					Significa che ogni persona ha delle esigenze diverse l'una dall'altra. Per ottenere un alto tasso di ritorno dei clienti, dobbiamo prima conoscerli, quindi mandare solo offerte personalizzate e targhettizzate sulla base dei loro interessi.<br /><br />
					Facciamo un esempio: prendiamo una pizzeria e chiamiamo l'ipotetico propritatio Tony.
					Tony ha una buona base di clienti, ha un suo sito web e utilizza Facebook per rimanere in contatto con loro.<br />
					Tony vorrebbe promuovere una delle sue pizze migliori, la "Focaccia ghiottona super farcita", per farlo potrebbe creare un post su Facebook, ma le conversioni (chi effettivamente verrà per gustare la focaccia) saranno molto basse se non nulle.<br /><br />
					Questo perchè proporre un'offerta ad un pubblico ampio, senza prima valutare gli interessi, non è la chiave per aumentare le proprie vendite.<br /><br />
					La soluzione è conoscere gli interessi dei propri clienti, sapere chi adora la focaccia, quindi mandare direttamente a loro l'offerta tramite differenti canali.<br /><br />
					Mandare offerte targettizzate, basate sugli interessi, aumenta notevolmente la possibilità che un cliente generi un acquisto.<br /><br />
					E' possibile realizzare una soluzione di questo tipo creando un modulo dinamico da aggangiare al sito già esistente, il sistema si occuperà di mantenere i clienti su un database per poterli gestire.
					<h5 class="wizardRequiredTitle">COSA OCCORRE:</h5>
					<ul>
					    <li class="li_exists">Pagina di contatto</li>
					    <li class="li_exists">Ottimizzazione per smartphone, tablet e desktop</li>
					    <li class="li_exists">SEO</li>
					    <li class="li_not_exists">Sito web dinamico con database di clienti</li>
					    <li class="li_not_exists">Pagina di fidelizzazione clienti</li>
					    <li class="li_not_exists">Sistema di invio offerte targettizzate, sconti e promozioni</li>
					</ul>
				</div>
			</div>
			{# soluzione }}} #}
			{# contattaci oppure ottieni sconto {{{ #}
			<div class="container contactUsBox" style="display: none;">
				<div class="row col-content clearfix">
					<!-- block title-text -->
					<div class="col-xs-12 story-cont animated wizard-call-to-action-block" data-animation="fadeInUp" data-animation-delay="200">
						<h3>Approfitta della promozione</h3>
						<p>Clicca sul pulsante sotto per ottenere uno sconto esclusivo per te.</p>
						<a class="btn button-large" href="/scelta-guidata">Ottieni codice promozionale</a>
						<p class="or">oppure</p>
						<p><a href="/contatti">Contattaci adesso</a></p>
					</div>
				</div>
			</div>
			{# contattaci oppure ottieni sconto }}} #}
		</div>
	</section>
	<!-- Contact Area End -->
{% endblock %}
{% block extra_js %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.0/jquery.scrollTo.min.js"></script>
	<script>
		$(document).ready(function(){
			/* Click sul tipo di problema */
			$(document).on("click", ".helpTypeAction", function(){
				resetWizardForm();
				// imposto l'elemento selezionato come attivo
				$(".helpTypeAction").removeClass("active");
				$(this).addClass("active");

				// chiedo se l'utente ha già un sito
				$(".siteSelectionBlock").show();

				$(window).scrollTo(".wizardScroll1", 1000);

				return false;
			});

			/* Click se si ha il sito o no, qui propongo anche la soluzione */
			$(document).on("click", ".siteClickAction", function(){
				// imposto l'elemento selezionato come attivo
				$(".siteClickAction").removeClass("active");
				$(this).addClass("active");

				// prelevo il tipo di problema e se è già
				// presente un sito o no
				var problemType = $(".helpTypeAction.active").data("helpType");
				var siteExists = $(".siteClickAction.active").data("siteExists");

				// mostro la soluzione al prblema
				showTip(problemType, siteExists);

				// mostro il pulsante per ottenere l'offerta
				$(".contactUsBox").show();

				$(window).scrollTo(".wizardScroll2", 1000);

				return false;
			});

			// click per ottenere il codice di sconto
			$(document).on("click", ".getPromoCodeAction", function(){
				$(".modal-title").html('Sconto del 20% per te*');
				$(".modal-body").html('<p class="text-center">Ecco il tuo codice promozionale:<br /><span class="couponCode">ABC123</span><br />Comunicacelo per usufruire di un <b>20%</b> di sconto sui nostri servizi (creazione di un sito web, ottimizzazione SEO, ecc...).</p><p class="text-right promo_code_info">*Il codice promozionale non è cumulabile con altre offerte.</p>');
				$(".modal-footer").html('<a href="#" class="btn" data-dismiss="modal">Chiudi</a><a href="/contatti/ABC123" class="btn btn-primary">Utilizza codice</a>');

				$(".modal").modal('show');

				return false;
			});
		});

		/* Funzione per resettare il form di scelta guidata */
		function resetWizardForm() {
			$(".helpTypeAction").removeClass("active");
			$(".siteClickAction").removeClass("active");
			$(".siteSelectionBlock").hide();
			$(".tipListAction").hide();
			$(".contactUsBox").hide();

			return true;
		}

		// TODO
		/* Funzione per mostrare i consigli in base alla selezione */
		function showTip(problemType, siteExists) {
			if (problemType && siteExists) {
				// nascondo tutti i tip precedenti
				$(".tipListAction").hide();

				// mostro solo il tip selezionato
				$("." + problemType + "_" + siteExists).show();
			}

			return true;
		}
	</script>
{% endblock extra_js %}
