{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}{{ project_constants.seo_data.www_app.description }}{% endblock %}
{% block meta_title %}{{ project_constants.seo_data.www_app.tag_title }}{% endblock %}

{# section title #}
{% block section_title %}{{ project_constants.seo_data.www_app.page_title }}{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li class="active"><a href="/servizi">{{ project_constants.seo_data.www_services.page_title }}</a></li><li>{{ project_constants.seo_data.www_app.page_title }}</li>{% endblock %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}
{% block services_app_navigation_active %}active{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>App prestigiose per elevare il tuo brand e realizzare soluzioni innovative di comunicazione.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Il futuro è nelle App</h4>
					<hr>
					<p>Realizziamo App android e iPhone. Le App consentono di stabilire un rapporto molto diretto con il cliente. Grazie a tecnologie come le <a href="https://it.wikipedia.org/wiki/Notifica_push" target="_blank">notifiche push</a> è possibile inviare notifiche (di offerte, per esempio) direttamente sullo smartphone dei tuoi clienti.<br />Sebbene potenzialmente più potenti di siti statici e dinamici, le App, hanno come contro il fatto di dover essere installate sui dispositivi degli utilizzatori, necessitano quindi di campagne pubblicitarie più impegnative.</p>
				</div>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h6>Puoi utilizzarle per</h6>
					<ul>
					    <li class="li_icon">Ottenere nuovi clienti</li>
					    <li class="li_icon">Fidelizzare i tuoi clienti</li>
					    <li class="li_icon">Mandare offerte, sconti e coupon direttamente sullo smartphone dei tuoi clienti</li>
					    <li class="li_icon">Permettere ai tuoi clienti di rimanere aggiornati sulle tue ultime novità</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Qualche consiglio...</h4>
					<hr>
					<p>Sebbene possa sembrare la scelta migliore per iniziare, le App hanno una metodologia di utilizzo più complessa rispetto ai siti, in quanto necessitano di installazione, quindi risulta fondamentale contornarle da una campagna pubblicitaria buona e d'effetto.<br />Nella maggior parte dei casi consigliamo lo sviluppo di App solo dopo la realizzazione del sito internet, così da autopromuoversi con i clienti già acquisiti ed ottenere subito molte installazioni.</p>
				</div>
			</div>
		</div>
		{# get discount block #}
		{% include "website/blocks/get_service_discount.html" with service_desc="la creazione di una App" service_type="Creazione App" service_discount=project_constants.SERVICE_BONUS_DISCOUNT only %}
	</section>
	<!-- About Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
