{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}Cosa ti offriamo{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li>Cosa ti offriamo</li>{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Services Area Start -->
	<section class="services-main" id="services">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">&quot; Qualità, passione e prezzi competitivi. Ecco la formula che ci distingue dagli altri. Ci occupiamo a 360° della tua immagine digitale, creando curiosità per i tuoi visitatori e nuove possibilità per te. &quot;</div>
			<!-- Start: Services All -->
			<div class="row service-all clearfix">
				<!-- Start: Service 01 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="100">
					<i class="fa fa-lightbulb-o"></i>
					<h5>Qualità</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in con
						dimentum pellen
					</p>
				</div>
				<!-- End: Service 01 -->
				<!-- Start: Service 02 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="200">
					<i class="fa fa-flask"></i>
					<h5>Design stupendi</h5>
					<p>Realizziamo dei design molto belli e molto funzionali che eleveranno la tua immagine.</p>
				</div>
				<!-- End: Service 02 -->
				<!-- Start: Service 03 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="300">
					<i class="fa fa-cubes"></i>
					<h5>Sicurezza</h5>
					<p>I siti sono sviluppati tendendo conto di tutti i pericoli che il web contiente, questo aspetto, spesso sottovalutato, è fondamentale per garantire servizi efficienti e solidi.</p>
				</div>
				<!-- End: Service 03 -->
				<!-- Start: Service 04 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="400">
					<i class="fa fa-clock-o"></i>
					<h5>Statistiche</h5>
					<p>Il tuo sito sarà in grado di rilevare i visitatori, quanti uomini e quante donne, il sistema operativo e dispositivo utilizzato, questi dati, da te visibili, verranno utilizzati per aumentarne maggiormente l'efficacia.</p>
				</div>
				<!-- End: Service 04 -->
				<!-- Start: Service 05 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="500">
					<i class="fa fa-bar-chart"></i>
					<h5>SEO</h5>
					<p>Seguiamo le best practise nella realizzazione del sito, per poterlo rendere allettante dai motori di ricerca e di conseguenza maggiormente reperibile dai tuoi visitatori.</p>
				</div>
				<!-- End: Service 05 -->
				<!-- Start: Service 06 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Pagine social</h5>
					<p>Oltre al sito, realizziamo le tua pagine sui social: pagina Facebook, Pagina su Google Places e ti consigliamo come farle lavorare tutte all'unisono per incrementare i risultati.</p>
				</div>
				<!-- End: Service 06 -->
				<!-- Start: Service 07 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Bootstrap</h5>
					<p>I nostri siti sono sviluppati utilizzando le ultime novità dal mondo informatico. Utilizziamo Bootstrap nei nostri progetti per garantire aderenza agli standard, ottimizzazione e prodotti altamente all'avanguardia.</p>
				</div>
				<!-- End: Service 07 -->
				<!-- Start: Service 08 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Framework</h5>
					<p>I nostri siti web sono sviluppati mediante dei framework per garantire sicurezza e stabilità nel futuro, è importante che alla base di tutto ci sia sempre un "motore" stabile ed efficace per ottenere prodotti di qualità.</p>
				</div>
				<!-- End: Service 08 -->
				<!-- Start: Service 09 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Email + dominio</h5>
					<p>Ti aiutiamo nella scelta del dominio più indicato per te, inoltre creiamo anche una casella email con indirizzo "info@tuosito.com", per esempio, per avere maggiore credibilità verso i tuoi potenziali clienti.</p>
				</div>
				<!-- End: Service 09 -->
				<!-- Start: Service 10 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Testi accurati</h5>
					<p>Realizziamo i testi del tuo sito con attenzione mettendo in rilievo le parti fondamentali e per aumentare l'interazione con i tuoi visitatori.</p>
				</div>
				<!-- End: Service 10 -->
				<!-- Start: Service 11 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Ottimizzazione mobile</h5>
					<p>Tutti i nostri siti sono sempre ottimizzati per un range di dispositivi molto ampio, andiamo dagli smartphone, ai tablet ai desktop, è importante che ogni device abbia la corretta usabilità per incrementare i clienti.</p>
				</div>
				<!-- End: Service 11 -->
				<!-- Start: Service 12 -->
				<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
					<i class="fa fa-globe"></i>
					<h5>Pannello amministrativo</h5>
					<p>I nostri siti hanno un pannello amministrativo permettono la gestione dei clienti, la crezione di offerte e in generale, tutti gli strumenti che ti permetteranno di gestire il sito in tutte le sue parti.</p>
				</div>
				<!-- End: Service 12 -->
			</div>
			<!-- End: Services All -->
		</div>
	</section>
	<!-- Services Area End -->
	<!-- Want More Area Start -->
	<section class="want-more-main">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Want more?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="600">We offer a wide range of quality services.. <br>Get everything and start creating.</div>
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon"><i class="fa fa-paint-brush"></i></div>
							<div class="features-cont">
								<h6>Awesome design</h6>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue.</p>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon"><i class="fa fa-link"></i></div>
							<div class="features-cont">
								<h6>SEO optimised</h6>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue.</p>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Fully Responsive</h6>
								<hr>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue.</p>
							</div>
						</div>
						<!-- End: Features 03 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-7 want-more-right animated" data-animation="fadeIn" data-animation-delay="200"><img class="big-image" src="{% static "website/img/executive.png" %}" alt=""></div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->
	{% comment %}
	<!-- Testimonial Area Start -->
	<section class="testimonial-main">
		<div class="solid-bg">
			<div class="container text-center">
				<div class="testimonial-cont-main">
					<div  class="testimonial-cont animated" data-animation="fadeInUp" data-animation-delay="200">
						<!-- Testimonial Slider Start -->
						<div id="carousel-example-generic" class="lum-testimonial carousel slide" data-ride="carousel">
							<!-- Slider Indicators Start -->
							<ol class="carousel-indicators">
								<li data-target="#carousel-example-generic" data-slide-to="0" class="active"><a href="#"></a></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"><a href="#"></a></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"><a href="#"></a></li>
								<li data-target="#carousel-example-generic" data-slide-to="3"><a href="#"></a></li>
							</ol>
							<!-- Slider Indicators End -->
							<!-- Wrapper for slides Start -->
							<div class="carousel-inner">
								<!-- Slide 01 Start -->
								<div class="item active">
									<div class="testimonial-user-photo"><span><img src="{% static "website/img/testimonial-user-01.jpg" %}" alt=""></span></div>
									<p>&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in consectetur adipiscing condimentum odio libero consectetur adipiscing elit. Nunc euismod sed libero adipiscing dolor sit amet. &quot;</p>
									<p><span>- Martina Henry -</span></p>
								</div>
								<!-- Slide 01 End -->
								<!-- Slide 02 Start -->
								<div class="item">
									<div class="testimonial-user-photo"><span><img src="{% static "website/img/testimonial-user-01.jpg" %}" alt=""></span></div>
									<p>&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in consectetur adipiscing condimentum odio libero consectetur adipiscing elit. Nunc euismod sed libero adipiscing dolor sit amet. &quot;</p>
									<p><span>- Martina Henry -</span></p>
								</div>
								<!-- Slide 02 End -->
								<!-- Slide 03 Start -->
								<div class="item">
									<div class="testimonial-user-photo"><span><img src="{% static "website/img/testimonial-user-01.jpg" %}" alt=""></span></div>
									<p>&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in consectetur adipiscing condimentum odio libero consectetur adipiscing elit. Nunc euismod sed libero adipiscing dolor sit amet. &quot;</p>
									<p><span>- Martina Henry -</span></p>
								</div>
								<!-- Slide 03 End -->
								<!-- Slide 04 Start -->
								<div class="item">
									<div class="testimonial-user-photo"><span><img src="{% static "website/img/testimonial-user-01.jpg" %}" alt=""></span></div>
									<p>&quot; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc euismod sed libero at congue. Praesent vulputate dolor velit, in consectetur adipiscing condimentum odio libero consectetur adipiscing elit. Nunc euismod sed libero adipiscing dolor sit amet. &quot;</p>
									<p><span>- Martina Henry -</span></p>
								</div>
								<!-- Slide 04 End -->
							</div>
							<!-- Wrapper for slides End -->
						</div>
						<!-- Testimonial Slider End -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonial Area End -->
	{% endcomment %}
	<!-- Client Logos Area Start -->
	<section class="client-logos-main">
		<div class="container carousel-main-cont clearfix">
			<!-- Start: Carousel Area -->
			<div class="clients-carousel crsl-items" data-navigation="skill_nav">
				<ul class="logo-carousel crsl-wrap">
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-01.png" %}" alt=""></a></li>
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-02.png" %}" alt=""></a></li>
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-03.png" %}" alt=""></a></li>
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-04.png" %}" alt=""></a></li>
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-05.png" %}" alt=""></a></li>
					<li class="crsl-item"><a href="#"><img src="{% static "website/img/client-logo-03.png" %}" alt=""></a></li>
				</ul>
			</div>
			<!-- End: Carousel Area -->
			<!-- Start: Carousel Navigation -->
			<ul id="skill_nav" class="crsl-nav">
				<li><a class="previous" href="#"><i class="fa fa-chevron-left"></i></a></li>
				<li><a class="next" href="#"><i class="fa fa-chevron-right"></i></a></li>
			</ul>
			<!-- End: Carousel Navigation -->
		</div>
	</section>
	<!-- Client Logos Area End -->
{% endblock %}
