{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Abbiamo le idee giuste per te. Il preventivo è completamente gratuito.{% endblock %}

{# extra css #}
{% block extra_css %}<link type="text/css" rel="stylesheet" href="{% static "website/css/order-form.css" %}">{% endblock %}

{# menu active element #}
{% block contact_us_navigation_active %}active{% endblock %}

{# section title #}
{% block section_title %}Scelta guidata{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li>Scelta guidata</li>{% endblock %}

{# section content #}
{% block page_content %}
	<!-- Contact Area Start -->
	<section class="about-main">
		<div class="container text-center">
			<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Senza un sito web adatto stai perdendo grandi opportunità di guadagno!</h2>
			<h5 class="animated" data-animation="fadeInUp" data-animation-delay="400">Ti aiutiamo nella scelta degli obiettivi più adatti a te.</h5>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Qual'è il tuo problema principale? (Clicca sui box sotto per selezionare)</div>
			{# seleziona il tuo problema principale {{{ #}
			<div class="order-form">
				<div class="container text-center">
					<!-- Order Buttons Start -->
					<div class="order-btns clearfix">
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noVisibilityHelp">
							<span class="icon"><i class="fa fa-html5"></i></span>
							<span id="psd-to-res">Non ho abbastanza visibilità</span>
							</a>
						</div>
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noCustomersHelp">
							<span class="icon"><i class="fa fa-shopping-cart"></i></span>
							<span id="psd-to-ecom">Non riesco ad attirare nuovi clienti</span>
							</a>
						</div>
						<div class="col-md-4">
							<a class="order-opt-link helpTypeAction" data-help-type="noSalesHelp">
							<span class="icon"><i class="fa fa-lightbulb-o"></i></span>
							<span id="order-con-id">Ho molti clienti ma non ottengo abbastanza risultati</span>
							</a>
						</div>
					</div>
				</div>
			</div>
			{# seleziona il tuo problema principale }}} #}
			{# hai già un sito web? {{{ #}
			<div class="siteSelectionBlock" style="display: none;">
				<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Possiedi già un sito web?</div>
				<div class="order-form">
					<div class="container text-center">
						<!-- Order Buttons Start -->
						<div class="order-btns clearfix">
							<div class="col-md-4 col-md-offset-2">
								<a class="order-opt-link siteClickAction" data-site-exists="siteYes">
								<span class="icon"><i class="fa fa-html5"></i></span>
								<span id="psd-to-res">Si, ho un sito web</span>
								</a>
							</div>
							<div class="col-md-4">
								<a class="order-opt-link siteClickAction" data-site-exists="siteNo">
								<span class="icon"><i class="fa fa-shopping-cart"></i></span>
								<span id="psd-to-ecom">Non ho un sito web</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{# hai già un sito web? }}} #}
			{# soluzione {{{ #}
			<!-- visibilità - no sito -->
			<div class="tipListAction noVisibilityHelp_siteNo" style="display: none;">
				<h4>La soluzione da noi proposta</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per questa tipologia di problemi, la soluzione è creare un'identità online, oppure, nel caso
					in cui fosse già presente occorre attuare determinate strategie in modo da metterla più in evidenza
					La nostra proposta è iniziare con un sito web definito "statico", ovvero un sito nel quale ci si presenta,
					si elencano i servizi offerti e la possibilità di essere contattati. Il sito va poi "agganciato" con la pagina Facebook
					e/o Google plus per poter iniziare a generare le prime visite e magari, i primi potenziali clienti che richiedono
					il servizio da te offerto.
					<h5>COSA OCCORRE:</h5>
					<ul>
					    <li>sito statico di presentazione</li>
					    <li>pagina di contatto</li>
					    <li>ottimizzazione per smartphone, tablet e desktop</li>
					    <li>SEO</li>
					    <li>pubblicità su Google, Facebook e affini (facoltativo)</li>
					</ul>
				</div>
			</div>
			<!-- visibilità - si sito -->
			<div class="tipListAction noVisibilityHelp_siteYes" style="display: none;">
				<h4>La soluzione da noi proposta</h4>
				<div class="desc-txt animated" data-animation="fadeInUp" data-animation-delay="400">
					Per questa tipologia di problemi, la soluzione è creare un'identità online, oppure, nel caso
					in cui fosse già presente occorre attuare determinate strategie in modo da metterla più in evidenza
					La nostra proposta è iniziare con un sito web definito "statico", ovvero un sito nel quale ci si presenta,
					si elencano i servizi offerti e la possibilità di essere contattati. Il sito va poi "agganciato" con la pagina Facebook
					e/o Google plus per poter iniziare a generare le prime visite e magari, i primi potenziali clienti che richiedono
					il servizio da te offerto.
					<h5>COSA OCCORRE:</h5>
					<ul>
					    <li>V sito statico di presentazione</li>
					    <li>pagina di contatto</li>
					    <li>ottimizzazione per smartphone, tablet e desktop</li>
					    <li>SEO</li>
					    <li>pubblicità su Google, Facebook e affini (facoltativo)</li>
					</ul>
				</div>
			</div>
			{# soluzione }}} #}
			{# contattaci oppure ottieni sconto {{{ #}
			<h3>Approfitta della promozione</h3>
			<a class="button-large" href="/contatti">Ottieni codice promozionale</a>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">oppure<br /><a href="/contatti">Richiedi informazioni</a></div>
			{# contattaci oppure ottieni sconto }}} #}
		</div>
	</section>
	<!-- Contact Area End -->
{% endblock %}
{% block extra_js %}
	<script>
		$(document).ready(function(){
			/* Click sul tipo di problema */
			$(document).on("click", ".helpTypeAction", function(){
				resetWizardForm();
				// imposto l'elemento selezionato come attivo
				$(".helpTypeAction").removeClass("active");
				$(this).addClass("active");

				// chiedo se l'utente ha già un sito
				$(".siteSelectionBlock").show();

				return false;
			});

			/* Click se si ha il sito o no, qui propongo anche la soluzione */
			$(document).on("click", ".siteClickAction", function(){
				// imposto l'elemento selezionato come attivo
				$(".siteClickAction").removeClass("active");
				$(this).addClass("active");

				// prelevo il tipo di problema e se è già
				// presente un sito o no
				var problemType = $(".helpTypeAction.active").data("helpType");
				var siteExists = $(".siteClickAction.active").data("siteExists");

				// mostro la soluzione al prblema
				showTip(problemType, siteExists);

				return false;
			});
		});

		/* Funzione per resettare il form di scelta guidata */
		function resetWizardForm() {
			$(".helpTypeAction").removeClass("active");
			$(".siteClickAction").removeClass("active");
			$(".siteSelectionBlock").hide();
			$(".tipListAction").hide();

			return true;
		}

		// TODO
		/* Funzione per mostrare i consigli in base alla selezione */
		function showTip(problemType, siteExists) {
			if (problemType && siteExists) {
				// nascondo tutti i tip precedenti
				$(".tipListAction").hide();

				// mostro solo il tip selezionato
				$("." + problemType + "_" + siteExists).show();
			}

			return true;
		}
	</script>
{% endblock extra_js %}
