{% extends "website/inc/base2.html" %}
{% load staticfiles static %}

{% block description %}Realizzazione Siti Web Torino - Creazione Siti Web Torino | Siamo specializzati nella creazione di Siti Web futuristici realmente utili.{% endblock %}

{# section title #}
{% block section_title %}Landing pages{% endblock %}

{# breadcrumbs item #}
{% block breadcrumbs_item %}<li class="active"><a href="/servizi">Servizi</a></li><li>Landing pages</li>{% endblock %}

{# menu active element #}
{% block services_navigation_active %}active{% endblock %}
{% block services_landing_pages_navigation_active %}active{% endblock %}

{# section content #}
{% block page_content %}
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Realizza strumenti per l'acquisizione di nuovi clienti e per dar nuova vita alla tua attività.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>A cosa serve</h4>
					<hr>
					<p>Una landing page (o pagina di atterraggio) è una singola pagina web utilizzata per compiere determinate azioni. Per esempio si potrebbe realizzare una landing page per ottenere nuovi indirizzi email a cui mandare offerte. Sono pagine che, di norma, mirano al conseguimento di una singola specifica azione.</p>
				</div>
			</div>
			<div class="row col-content clearfix">
				<!-- Start: Story Area -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h6>Puoi utilizzarla per</h6>
					<ul>
						<li class="li_icon">Attirare nuovi clienti sul tuo sito</li>
						<li class="li_icon">Fidelizzare i tuoi clienti</li>
						<li class="li_icon">Creare una campagna pubblicitaria efficace e d'effetto</li>
						<li class="li_icon">Ottenere la data di nascita dei tuoi clienti per inviare regali automaticamente</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Qualche consiglio...</h4>
					<hr>
					<p>Le landing page possono essere utilizzate anche se hai già un tuo sito web, sono completamente indipendenti dalla tua infrastruttura, pertmettendo l'implementazione di interessanti funzionalità all'interno del tuo sito senza necessariamente rifare tutto da capo, questo si traduce in risparmio di soldi.<br />Sono anche molto utili se utilizzate in simultaneità con la pubblività.
					</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row col-content clearfix">
				<!-- block title-text -->
				<div class="col-xs-12 story-cont animated wizard-call-to-action-block" data-animation="fadeInUp" data-animation-delay="200">
					<h3>Non sai se è la scelta giusta per te?</h3>
					<p>Utilizza il nostro configuratore, ti aiutiamo nella scelta più adatta a te.<br />Subito, in omaggio, un <b>buono sconto</b> sui nostri servizi.</p>
					<a class="btn button-large" href="/scelta-guidata">Vai al configuratore</a>
					<p class="or">oppure</p>
					<p><a href="/contatti">Contattaci adesso</a></p>
				</div>
			</div>
		</div>
	</section>
	<!-- About Area End -->

	<!-- Call To Action Area Start -->
	{% include "website/blocks/bar1.html" %}
	<!-- Call To Action Area End -->
{% endblock %}
