<section class="call-to-action">
	<div class="container clearfix">
		<div class="col-md-9 call-to-left">
			<div class="ico-container animated" data-animation="fadeInLeft" data-animation-delay="200"><i class="fa fa-heart"></i> </div>
			<h3 class="animated" data-animation="fadeInRight" data-animation-delay="300">Il tuo successo è il nostro traguardo</h3>
			<p class="animated" data-animation="fadeInRight" data-animation-delay="500">Qualità e passione sono la chiave per il successo.</p>
		</div>
		<div class="call-to-right animated" data-animation="fadeInRight" data-animation-delay="400"><a href="/contatti/" class="button-large">Contattaci adesso</a> </div>
	</div>
</section>
