{% load staticfiles static %}
<section class="client-logos-main">
	<div class="container carousel-main-cont clearfix">
		<!-- Start: Carousel Area -->
		<div class="clients-carousel crsl-items" data-navigation="skill_nav">
			<ul class="logo-carousel crsl-wrap">
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-05.png" %}" alt=""></a></li>
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-04.png" %}" alt=""></a></li>
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-01.png" %}" alt=""></a></li>
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-02.png" %}" alt=""></a></li>
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-06.png" %}" alt=""></a></li>
				<li class="crsl-item"><a href="#" onclick="return false;"><img src="{% static "website/img/client-logo-03.png" %}" alt=""></a></li>
			</ul>
		</div>
		<!-- End: Carousel Area -->
		<!-- Start: Carousel Navigation -->
		<ul id="skill_nav" class="crsl-nav">
			<li><a class="previous" href="#"><i class="fa fa-chevron-left"></i></a> </li>
			<li><a class="next" href="#"><i class="fa fa-chevron-right"></i></a> </li>
		</ul>
		<!-- End: Carousel Navigation -->
	</div>
</section>
