{% load staticfiles static %}
<div class="row colum-contents clearfix">
	<div class="col-md-4 col-conts animated" data-animation="fadeInLeft" data-animation-delay="200">
		<div class="icon-container"><img src="{% static "website/img/icon-01.png" %}" alt=""> </div>
		<h4>Design Stupendi</h4>
		<p>Realizziamo siti web ad alto impatto grafico, curando pixel per pixel il tuo design. Dobbiamo essere certi che i nostri prodotti abbiamo un elevato livello di usabilità.</p>
	</div>
	<div class="col-md-4 col-conts animated" data-animation="fadeInUp" data-animation-delay="400">
		<div class="icon-container"><img src="{% static "website/img/icon-02.png" %}" alt=""> </div>
		<h4>100% Responsive</h4>
		<p>Siamo nell'era degli smartphone, la nostra idea è che il tuo sito da noi sviluppato sia fruibile con qualsiasi dispositivo. Andiamo dai tablet, agli smartphone fino ai PC.</p>
	</div>
	<div class="col-md-4 col-conts animated" data-animation="fadeInRight" data-animation-delay="600">
		<div class="icon-container"><img src="{% static "website/img/tecnologie-avanzate.png" %}" alt=""> </div>
		<h4>Avanguardia</h4>
		<p>Utilizziamo le più moderne tecnologie che il mondo dell'informatica mette a disposizione per realizzare il tuo sito. Questo si traduce in strumenti particolarmente all'avanguardia.</p>
	</div>
</div>
