{% load staticfiles static %}
<div class="container">
	<div class="row col-content clearfix">
		<!-- block title-text -->
		<div class="col-xs-12 story-cont animated wizard-call-to-action-block" data-animation="fadeInUp" data-animation-delay="200">
			<h3>Ti offriamo uno sconto...</h3>
			<p>...da utilizzare per <b>{{ service_desc }}</b>.<br />Clicca sul pulsante sotto per saperne di più.</p>
			<a class="btn button-large getServiceDiscountAction" data-service-desc="{{ service_desc }}" data-service-type="{{ service_type }}" data-service-discount="{{ service_discount }}" href="#">Ottieni sconto</a>
			<p class="or">Non sai se è la scelta giusta per te?</p>
			<p><a href="/scelta-guidata">Utilizza il configuratore</a></p>
		</div>
	</div>
</div>
