		<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">&quot; Qualità, passione e prezzi competitivi. Ecco la formula che ci contraddistingue in positivo dagli altri. Ci occupiamo a 360° della tua immagine digitale, creando curiosità per i tuoi visitatori e nuove possibilità per te. &quot;</div>
		<!-- Start: Services All -->
		<div class="row service-all clearfix">
			<!-- Start: Service 01 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="100">
				<i class="fa fa-thumbs-o-up"></i>
				<h5>Qualità</h5>
				<p>Tutti i nostri prodotti sono curati maniacalmente e realizzati seguendo gli innumerevoli standard che il mondo informatico richiede. Questo ci da la certezza che il risultato sia un prodotto davvero unico.</p>
			</div>
			<!-- End: Service 01 -->
			<!-- Start: Service 03 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="300">
				<i class="fa fa-lock"></i>
				<h5>Sicurezza</h5>
				<p>I nostri siti sono sviluppati tenendo conto di tutte le minacce che il web nasconde. Questo aspetto, spesso sottovalutato, è fondamentale per garantire servizi efficienti, solidi e continuativi nel tempo.</p>
			</div>
			<!-- End: Service 03 -->
			<!-- Start: Service 04 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="400">
				<i class="fa fa-bar-chart "></i>
				<h5>Statistiche avanzate</h5>
				<p>Il tuo sito sarà in grado di rilevare i visitatori, quanti uomini e quante donne, il sistema operativo e dispositivo utilizzato, questi dati, da te visibili, verranno utilizzati per aumentarne maggiormente l'efficacia.</p>
			</div>
			<!-- End: Service 04 -->
			<!-- Start: Service 06 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa fa-facebook-official"></i>
				<h5>Pagine social</h5>
				<p>Oltre al sito, realizziamo le tua pagine sui social: pagina Facebook, Pagina su Google Places e ti consigliamo come farle lavorare tutte all'unisono per incrementare i risultati.</p>
			</div>
			<!-- End: Service 06 -->
			<!-- Start: Service 07 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa fa-html5"></i>
				<h5>Bootstrap</h5>
				<p>I nostri siti sono sviluppati utilizzando le ultime novità dal mondo informatico. Utilizziamo Bootstrap nei nostri progetti per garantire aderenza agli standard, ottimizzazione e prodotti altamente all'avanguardia.</p>
			</div>
			<!-- End: Service 07 -->
			<!-- Start: Service 08 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa fa-cubes"></i>
				<h5>Framework</h5>
				<p>I nostri siti web sono sviluppati mediante dei framework per garantire sicurezza e stabilità nel futuro, è importante che alla base di tutto ci sia sempre un "motore" stabile ed efficace per ottenere prodotti di qualità.</p>
			</div>
			<!-- End: Service 08 -->
			<!-- Start: Service 09 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa  fa-at"></i>
				<h5>Email + dominio</h5>
				<p>Ti aiutiamo nella scelta del dominio più indicato a te, inoltre, creiamo anche una casella email con indirizzo "info@tuosito.com" (per esempio), per ottenere maggiore credibilità verso i tuoi potenziali clienti.</p>
			</div>
			<!-- End: Service 09 -->
			<!-- Start: Service 10 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa fa-newspaper-o"></i>
				<h5>Testi accurati</h5>
				<p>Realizziamo i testi del tuo sito con attenzione e professionalmente, mettendo in rilievo le parti fondamentali per aumentare l'interazione con i tuoi visitatori.</p>
			</div>
			<!-- End: Service 10 -->
			<!-- Start: Service 12 -->
			<div class="col-md-4 service-single animated" data-animation="fadeInUp" data-animation-delay="600">
				<i class="fa fa-mouse-pointer"></i>
				<h5>Pannello amministrativo</h5>
				<p>I nostri siti hanno un pannello amministrativo, che permette la gestione dei clienti, la creazione di offerte e, in generale, la gestione di tutte le funzionalità che potrebbero essere presenti.</p>
			</div>
			<!-- End: Service 12 -->
		</div>
		<!-- End: Services All -->
