{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}Abbiamo le idee giuste per te. Il preventivo è completamente gratuito. Richiedi le informazioni che preferisci, ti risponderemo nel più breve tempo possibile.{% endblock %}

{# extra css #}
{% block extra_css %}<link type="text/css" rel="stylesheet" href="{% static "website/css/order-form.css" %}">{% endblock %}

{# section title #}
{% block section_title %}Il tuo sito web GRATIS{% endblock %}

{# section content #}
{% block page_content %}
	<style>
	    .want-more-main { margin: 0px; }
	    .want-more-main img { width: 100%; }
	    .want-more-main-right { background-color: #F6843A; }
	    .want-more-main-left { margin: 0px; background-color: #007B80; }
	    .want-more-main-left * { color: #fff!important; }
	    .want-more-main-left hr { background-color: #282828; }
	    .want-more-main-left .features-icon i { background-color: #282828; color: #fff!important; }
	    .calendar-text { margin-left: -14px; margin-top: -15px; color: #fff!important; }
	    .features-icon { padding: 0 30px 0 0; }
	    .features-cont { display: table-cell; float: none; font-size: 14px; height: 80px; vertical-align: middle; width: 78%; }

	    .want-more-main-right-1-4 { background-color: #D6D6D6; }
	    .want-more-main-right-1-4 h1, .want-more-main-right-1-4 h2, .want-more-main-right-1-4 h3, .want-more-main-right-1-4 h4, .want-more-main-right-1-4 h5, .want-more-main-right-1-4 h6 { color: #000; }
	    .want-more-main-right-1-4 i, .want-more-main-right-1-4 hr { background-color: #000; }
	</style>
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Un sito web, professionale, ottimizzato per tutti i dispositivi<br />GRATIS, per la tua attività.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- text block -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Perchè?</h4>
					<hr>
					<p>Crediamo nell'efficacia dei nostri prodotti, ecco perchè abbiamo deciso di offrirti un sito web statico professionale per creare la tua prima presenza online e darti modo di ottenere qualche piccolo risultato.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Want More Area Start -->
	<section class="want-more-main want-more-main-right">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Cosa è incluso?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon"><i class="fa fa-paint-brush"></i></div>
							<div class="features-cont">
								<h6>Un sito web statico professionale con 4 sezioni o 4 pagine: home page, chi siamo, contatti e cosa facciamo.</h6>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon"><i class="fa fa-link"></i></div>
							<div class="features-cont">
								<h6>Un nome dominio di terzo livello (Es: tuosito.entpy.com)</h6>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Ottimizzazione per tablet e smartphone</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Un template a scelta tra quelli proposti</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-7 want-more-right hidden-xs hidden-sm animated" data-animation="fadeIn" data-animation-delay="200"><img src="{% static "website/img/build_website_right.png" %}" alt=""></div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->

	<!-- Want More Area Start -->
	<section class="want-more-main want-more-main-left">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-7 want-more-left hidden-xs hidden-sm animated" data-animation="fadeIn" data-animation-delay="200">
					<img src="{% static "website/img/build_website_left.png" %}" alt="">
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Come fare per averlo?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">1</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Scegli il tema grafico che vorresti utilizzare tra quelli proposti</h6>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">2</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Pensa al tuo nome dominio*</h6>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">3</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Compila il form sottostante con i dati richiesti</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
						<!-- Start: Features 04 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">4</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Inviaci il materiale (testi e immagini)</h6>
							</div>
						</div>
						<!-- End: Features 04 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->

	<!-- Want More Area Start -->
	<form>
		<section class="want-more-main want-more-main-right-1-4">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Left Container -->
					<div class="col-md-5 want-more-left">
						<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">1) Seleziona il tuo tema grafico</h2>
						<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
						<!-- Start: More Features -->
						<div class="more-features">
							<!-- Start: Features 01 -->
							<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
								<div class="features-icon"><i class="fa fa-paint-brush"></i></div>
								<div class="features-cont">
									<h6>Un sito web statico professionale con 4 sezioni o 4 pagine: home page, chi siamo, contatti e cosa facciamo.</h6>
								</div>
							</div>
							<!-- End: Features 01 -->
						</div>
						<!-- Start: More Features -->
					</div>
					<!-- End: Left Container -->
					<!-- Start: Right Container -->
					<div class="col-md-offset-2 col-md-5">
						<div class="col-md-6">
							<div class="thumbnail">
								<img src="..." alt="...">
								<div class="caption">
									<h3>Thumbnail label</h3>
									<p>...</p>
									<p><a href="#" class="btn btn-primary" role="button"></a> <a href="#" class="btn btn-default" role="button">Button</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- End: Right Container -->
				</div>
			</div>
		</section>
	</form>
	<!-- Want More Area End -->

				<!-- text block -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Non lasciarti sfuggire questa occasione</h4>
				</div>

	<!-- Services Area Start -->
	<section class="services-main" id="services">
		<div class="container">
			<h4>Termini e Condizioni dell'offerta</h4>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Tutto senza impegno: è possibile sospendere il servizio in qualsiasi momento.</div>
			Il sito web ha la durata di 1 anno, oltre la quale occorrerà pagare una tantum per mantenerlo online | Saranno presenti dei banner pubblicitari | I testi, il logo e le immagini dovranno essere fornite da te | E' possibile sospendere e interrompere il servizio in qualsiasi momento, senza clausole o costi da pagare, è completamente gratuito e libero da vincoli
		</div>
	</section>

-                               <!-- text block -->
-                               <div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
-                                       <h4>Termini e Condizioni dell'offerta</h4>
-                                       <hr>
-                                       <ul>
-                                               <li>Il sito web ha la durata di 1 anno, oltre la quale occorrerà pagare una tantum per mantenerlo online</li>
-                                               <li>Saranno presenti dei banner pubblicitari</li>
-                                               <li>I testi, il logo e le immagini dovranno essere fornite da te</li>
-                                               <li>E' possibile sospendere e interrompere il servizio in qualsiasi momento, senza clausole o costi da pagare, è completamente gratuito e libero da vincoli</li>
-                                       </ul>
-                               </div>


{% endblock %}
{% block extra_js %}
{% endblock extra_js %}
