{% extends "website/inc/base3.html" %}
{% load staticfiles static %}

{% block description %}Abbiamo le idee giuste per te. Il preventivo è completamente gratuito. Richiedi le informazioni che preferisci, ti risponderemo nel più breve tempo possibile.{% endblock %}

{# extra css #}
{% block extra_css %}
<link type="text/css" rel="stylesheet" href="{% static "website/css/order-form.css" %}">
<style>
    .nav-main, .toggle-btn { display: none; }
</style>
{% endblock %}

{# section title #}
{% block section_title %}Il tuo sito web GRATIS*{% endblock %}

{# section content #}
{% block page_content %}
	<style>
	    .want-more-main { margin: 0px; }
	    .want-more-main img { width: 100%; }
	    .want-more-main-right { background-color: #F6843A; }
	    .want-more-main-left { margin: 0px; background-color: #007B80; }
	    .want-more-main-left * { color: #fff!important; }
	    .want-more-main-left hr { background-color: #282828; }
	    .want-more-main-left .features-icon i { background-color: #282828; color: #fff!important; }
	    .calendar-text { margin-left: -14px; margin-top: -15px; color: #fff!important; }
	    .features-icon { padding: 0 30px 0 0; }
	    .features-cont { display: table-cell; float: none; font-size: 14px; height: 80px; vertical-align: middle; width: 78%; }

	    .want-more-main-right-1-4, .want-more-main-right-3-4 { background-color: #D6D6D6; }
	    .want-more-main-right-2-4, .want-more-main-right-4-4 { background-color: #C1C1C1; }
	    .want-more-main-right-1-4 h2, .want-more-main-right-2-4 h2, .want-more-main-right-3-4 h2, .want-more-main-right-4-4 h2 { color: #222!important; }
	    .want-more-main-right-1-4 h6, .want-more-main-right-1-4 h3, .want-more-main-right-2-4 h6, .want-more-main-right-3-4 h6, .want-more-main-right-4-4 h6 { color: #444!important; }
	    .want-more-main-right-1-4 hr, .want-more-main-right-2-4 hr, .want-more-main-right-3-4 hr, .want-more-main-right-4-4 hr { background-color: #222; }
	</style>
	<!-- About Area Start -->
	<section class="about-main">
		<div class="container">
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="200">
				<p>Un sito web, professionale, ottimizzato per tutti i dispositivi<br />GRATIS*, per la tua attività.</p>
			</div>
			<div class="row col-content clearfix">
				<!-- text block -->
				<div class="col-xs-12 story-cont animated" data-animation="fadeInUp" data-animation-delay="200">
					<h4>Perchè?</h4>
					<hr>
					<p>Crediamo nell'efficacia dei nostri prodotti, ecco perchè abbiamo deciso di offrirti un sito web statico professionale per creare la tua prima presenza online e darti modo di ottenere qualche piccolo risultato.</p>
				</div>
			</div>
		</div>
	</section>

	<!-- Want More Area Start -->
	<section class="want-more-main want-more-main-right">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Cosa è incluso?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon"><i class="fa fa-paint-brush"></i></div>
							<div class="features-cont">
								<h6>Un sito web statico professionale con 4 sezioni o 4 pagine: home page, chi siamo, contatti e cosa facciamo.</h6>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon"><i class="fa fa-link"></i></div>
							<div class="features-cont">
								<h6>Un nome dominio di terzo livello (Es: tuosito.entpy.com)</h6>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Ottimizzazione per tablet e smartphone</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon"><i class="fa fa-desktop"></i></div>
							<div class="features-cont">
								<h6>Un template a scelta tra quelli proposti</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-7 want-more-right hidden-xs hidden-sm animated" data-animation="fadeIn" data-animation-delay="200"><img src="{% static "website/img/build_website_right.png" %}" alt=""></div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->

	<!-- Want More Area Start -->
	<section class="want-more-main want-more-main-left">
		<div class="container">
			<div class="row clearfix">
				<!-- Start: Left Container -->
				<div class="col-md-7 want-more-left hidden-xs hidden-sm animated" data-animation="fadeIn" data-animation-delay="200">
					<img src="{% static "website/img/build_website_left.png" %}" alt="">
				</div>
				<!-- End: Left Container -->
				<!-- Start: Right Container -->
				<div class="col-md-5 want-more-left">
					<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">Come fare per averlo?</h2>
					<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
					<!-- Start: More Features -->
					<div class="more-features">
						<!-- Start: Features 01 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">1</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Scegli il tema grafico che vorresti utilizzare tra quelli proposti</h6>
							</div>
						</div>
						<!-- End: Features 01 -->
						<!-- Start: Features 02 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">2</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Pensa al tuo nome dominio*</h6>
							</div>
						</div>
						<!-- End: Features 02 -->
						<!-- Start: Features 03 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">3</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Compila il form sottostante con i dati richiesti</h6>
							</div>
						</div>
						<!-- End: Features 03 -->
						<!-- Start: Features 04 -->
						<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="600">
							<div class="features-icon">
								<span class="fa-stack fa-3x">
									<i class="fa fa-stack-2x"></i>
									<strong class="fa-stack-1x calendar-text">4</strong>
								</span>
							</div>
							<div class="features-cont">
								<h6>Inviaci il materiale (testi e immagini)</h6>
							</div>
						</div>
						<!-- End: Features 04 -->
					</div>
					<!-- Start: More Features -->
				</div>
				<!-- End: Right Container -->
			</div>
		</div>
	</section>
	<!-- Want More Area End -->

	<!-- Want More Area Start -->
	<form name="create_site_form" action="" method="POST">
		<section class="want-more-main want-more-main-right-1-4">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Left Container -->
					<div class="col-md-5 want-more-left">
						<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">1) Seleziona il tuo tema grafico</h2>
						<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
						<!-- Start: More Features -->
						<div class="more-features">
							<!-- Start: Features 01 -->
							<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
								<div class="features-cont">
									<h6>Seleziona tra i due temi proposti "Classico" offre un modello di navigazione più tradizionale, con un contenuto per ogni pagina. "Moderno" è un tema basato su una singola pagina a scorrimento verticale.<br />Scegli quello che preferisci cliccando sul pulsante "Seleziona" (PS: puoi anche vedere un'anteprima del tema cliccando sul link "Anteprima").</h6>
								</div>
							</div>
							<!-- End: Features 01 -->
						</div>
						<!-- Start: More Features -->
					</div>
					<!-- End: Left Container -->
					<!-- Start: Right Container -->
					<div class="col-md-offset-2 col-md-5">
						<div class="col-md-6">
							<div class="thumbnail">
								<img src="..." alt="...">
								<div class="caption">
									<h3>Classico</h3>
									<p>Un tema semplice con un layout ben strutturato basato su 4 pagine</p>
									<p><a href="/classic/#" target="_blank" role="button">Anteprima</a> <a href="#" class="btn btn-default" role="button">Seleziona</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="thumbnail">
								<img src="..." alt="...">
								<div class="caption">
									<h3>Moderno</h3>
									<p>Un tema moderno basato su una singola pagina a scorrimento verticale</p>
									<p><a href="/simple/" target="_blank" role="button">Anteprima</a> <a href="#" class="btn btn-default" role="button">Seleziona</a></p>
								</div>
							</div>
						</div>
					</div>
					<!-- End: Right Container -->
				</div>
			</div>
		</section>
		<section class="want-more-main want-more-main-right-2-4">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Left Container -->
					<div class="col-md-5">
						<div class="input-group input-group-lg">
							<input type="text" class="form-control" placeholder="il-tuo-dominio" aria-describedby="sizing-addon1">
							<span class="input-group-addon">.entpy.com</span>
						</div>
					</div>
					<!-- End: Left Container -->
					<!-- Start: Right Container -->
					<div class="col-md-offset-2 col-md-5 want-more-left">
						<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">2) Seleziona il tuo dominio</h2>
						<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
						<!-- Start: More Features -->
						<div class="more-features">
							<!-- Start: Features 01 -->
							<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
								<div class="features-cont">
									<h6>Seleziona un nome dominio di terzo livello (lo offriamo noi). Appena realizzato, il tuo sito sarà disponibile nel nome del dominio scelto. E' importante inserire un nome che sia riconducibile facilmente alla tua attività.</h6>
								</div>
							</div>
							<!-- End: Features 01 -->
						</div>
						<!-- Start: More Features -->
					</div>
					<!-- End: Right Container -->
				</div>
			</div>
		</section>
		<section class="want-more-main want-more-main-right-3-4">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Left Container -->
					<div class="col-md-5 want-more-left">
						<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">3) Inserisci le informazioni richieste</h2>
						<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
						<!-- Start: More Features -->
						<div class="more-features">
							<!-- Start: Features 01 -->
							<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
								<div class="features-cont">
									<h6>Per procedere inserisci le informazioni richieste.</h6>
								</div>
							</div>
							<!-- End: Features 01 -->
						</div>
						<!-- Start: More Features -->
					</div>
					<!-- End: Left Container -->
					<!-- Start: Right Container -->
					<div class="col-md-offset-2 col-md-5">
						<!-- nome utente -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" class="form-control" placeholder="Il tuo nome" aria-describedby="basic-addon1">
						</div>
						<!-- email utente -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-at" aria-hidden="true"></i></span>
							<input type="email" class="form-control" placeholder="Email" aria-describedby="basic-addon1">
						</div>
						<!-- nome attività -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
							<input type="text" class="form-control" placeholder="Il nome della tua attività" aria-describedby="basic-addon1">
						</div>
						<!-- informazioni aggiuntive -->
						<div class="input-group input-group-lg">
							<span class="input-group-addon"><i class="fa fa-edit" aria-hidden="true"></i></span>
							<textarea class="form-control" placeholder="Informazioni aggiuntive, tipo di attività svolta, eventuali domande, ecc..." aria-describedby="basic-addon1"></textarea>
						</div>
					</div>
					<!-- End: Right Container -->
				</div>
			</div>
		</section>
		<section class="want-more-main want-more-main-right-4-4">
			<div class="container">
				<div class="row clearfix">
					<!-- Start: Left Container -->
					<div class="col-md-5">
						<div class="form-group">
							<div class="col-ms-12 text-center">
								<button type="submit" class="btn btn-primary btn-lg">Richiedi sito</button>
								<div>Cliccando sul pulsante accetti tutti i <a href="#terms_of_use">Termini di utilizzo</a></div>
							</div>
						</div>
					</div>
					<!-- End: Left Container -->
					<!-- Start: Right Container -->
					<div class="col-md-offset-2 col-md-5 want-more-left">
						<h2 class="animated" data-animation="fadeInUp" data-animation-delay="200">4) Richiedi il tuo nuovo sito web</h2>
						<hr class=" animated" data-animation="fadeInUp" data-animation-delay="400">
						<!-- Start: More Features -->
						<div class="more-features">
							<!-- Start: Features 01 -->
							<div class="features-single clearfix animated" data-animation="fadeInUp" data-animation-delay="200">
								<div class="features-cont">
									<h6>Clicca sul pulsante "Richiedi sito" per richiedere il tuo sito GRATIS*. Verrai ricontattato/a per la fase successiva: l'invio del materiale (testi e immagini).</h6>
								</div>
							</div>
							<!-- End: Features 01 -->
						</div>
						<!-- Start: More Features -->
					</div>
					<!-- End: Right Container -->
				</div>
			</div>
		</section>
	</form>
	<!-- Want More Area End -->

	<!-- Services Area Start -->
	<section class="services-main" id="terms_of_use">
		<div class="container">
			<h4>*Termini e Condizioni dell'offerta</h4>
			<div class="medium-txt animated" data-animation="fadeInUp" data-animation-delay="400">Tutto senza impegno</div>
			<ul class="text-left">
				<li>Il sito web ha la durata di 1 anno, oltre la quale occorrerà pagare una tantum per mantenerlo online e per rimuvere i banner pubblicitari</li>
				<li>Saranno presenti dei banner e popup pubblicitari</li>
				<li>I testi, le immagini e l'eventuale logo, dovranno essere forniti da te</li>
				<li>E' possibile sospendere e interrompere il servizio in qualsiasi momento, senza clausole o costi da pagare, è completamente gratuito e libero da vincoli</li>
				<li>Ci riserviamo il diritto di sospendere e/o interrompere il servizio senza preavviso qualora la condizione lo richiedesse</li>
			</ul>
		</div>
	</section>
{% endblock %}
{% block extra_js %}
{% endblock extra_js %}
