{% extends "classic/inc/base.html" %}
{% load staticfiles static custom_tags %}

{% block top_header1 %}
	<div class="fh5co-hero">
		<div class="fh5co-overlay froala-editor-html blockToSaveAction" data-block-code="classic_header_image1">
			{% get_theme_val website_key_val_dict default_key_val_dict "classic_header_image1" edit %}
		</div>
		<div class="fh5co-cover text-center" data-stellar-background-ratio="0.5">
			<div class="desc animate-box">
				<h2 class="froala-editor-inline blockToSaveAction" data-block-code="{% block page_title_block_code %}{% endblock %}">{% block page_title %}{% endblock %}</h2>
				<span class="froala-editor-inline blockToSaveAction" data-block-code="{% block page_subtitle_block_code %}{% endblock %}">{% block page_subtitle %}{% endblock %}</span>
			</div>
		</div>
	</div>
{% endblock top_header1 %}
