{% extends "admin/base_site.html" %}
{% load i18n admin_static custom_tags %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block content %}
<div id="content-main">
	<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="code_validator_form" value="1" />

		<fieldset class="col-md-12">
			{% for field in form %}
				<div class="form-group {% if field.errors %}has-error{% endif %}" >
					<label for="{{ field.id_for_label }}" class="col-md-4 control-label">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
					<div class="col-md-7">
						<textarea name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.field.widget.attrs.placeholder }}">{% if post|get_item:field.name %}{{ post|get_item:field.name }}{% endif %}</textarea>
					</div>
				</div>
			{% endfor %}
		</fieldset>

		<div class="submit-row">
			<input type="submit" name="_save" class="default" value="Salva">
		</div>
	</form>
</div>
{% endblock %}
