{% extends "admin/base_site.html" %}
{% load i18n admin_static custom_tags %}

{% block extrastyle %}
{{ block.super }}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.9.1/cropper.min.css">
<style>
	.tinymce_container { display: inline-block; text-align: left; }
</style>
{% endblock %}

{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script src="http://malsup.github.com/jquery.form.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.9.1/cropper.min.js"></script> 
{{ form.media }}
<script>
	tinymce.init({
		selector: '.tinymce_textarea',
		width: 600,
		height: 200,
		plugins: 'code preview',
		toolbar: 'preview undo redo styleselect bold italic alignleft aligncenter alignright bullist numlist outdent indent code',
		forced_root_block : false,
		menubar: false  // removes the menubar
	});
</script>
<div id="content-main">
	{{ form }}
	{% comment %}
	<form action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="code_validator_form" value="1" />

		<fieldset class="module aligned">
			{% for field in form %}
				<div class="form-row {% if field.errors %}has-error{% endif %}" >
					<div>
						<label for="{{ field.id_for_label }}">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
						<div class="tinymce_container">
							<textarea name="{{ field.name }}" class="vLargeTextField tinymce_textarea" id="{{ field.id_for_label }}" rows="10" cols="40" placeholder="{{ field.field.widget.attrs.placeholder }}">{% if post|get_item:field.name %}{{ post|get_item:field.name }}{% endif %}</textarea>
						</div>
					</div>
				</div>
			{% endfor %}
		</fieldset>

		<div class="submit-row">
			<input type="submit" name="_save" class="default" value="Salva">
		</div>
	</form>
	{% endcomment %}
</div>
{% endblock %}
