{% extends "simple/inc/base.html" %}
{% load staticfiles static custom_tags %}

{# se i punti della mappa (latitudine-longitudine) sono settati, mostro la mappa #}
{% get_theme_val preferences_key_val_dict default_preferences_key_val_dict "contacts_maps_position" edit as map_position %}

{% block page_content %}
<!-- BEGIN SLIDER AREA-->
<div class="slider_area">
	<!-- BEGIN SLIDER-->
	<div id="slides">
		<ul class="slides-container">
			<!-- THE FIRST SLIDE-->
			<li>
				<!-- FIRST SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- FIRST SLIDE MAIN IMAGE -->
				<div class="froala-editor-html blockToSaveAction" data-block-code="simple_header_image1">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_image1" edit %}
				</div>
				<!-- FIRST SLIDE CAPTION-->
				<div class="slider_caption froala-editor-html blockToSaveAction" data-block-code="simple_header_block1">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_block1" edit %}
				</div>
			</li>
			<!-- THE SECOND SLIDE-->
			<li>
				<!-- SECOND SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- SECOND SLIDE MAIN IMAGE -->
				<div class="froala-editor-html blockToSaveAction" data-block-code="simple_header_image2">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_image2" edit %}
				</div>
				<!-- SECOND SLIDE CAPTION-->
				<div class="slider_caption froala-editor-html blockToSaveAction" data-block-code="simple_header_block2">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_block2" edit %}
				</div>
			</li>
			<!-- THE THIRD SLIDE-->
			<li>
				<!-- THIRD SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- THIRD SLIDE MAIN IMAGE -->
				<div class="froala-editor-html blockToSaveAction" data-block-code="simple_header_image3">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_image3" edit %}
				</div>
				<!-- THIRD SLIDE CAPTION-->
				<div class="slider_caption froala-editor-html blockToSaveAction" data-block-code="simple_header_block3">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_header_block3" edit %}
				</div>
			</li>
		</ul>
		<!-- BEGAIN SLIDER NAVIGATION -->
		<nav class="slides-navigation">
			<!-- PREV IN THE SLIDE -->
			<a class="prev" href="#">
				<span class="icon-wrap"></span>
				<h3><strong>Avanti</strong></h3>
			</a>
			<!-- NEXT IN THE SLIDE -->
			<a class="next" href="#">
				<span class="icon-wrap"></span>
				<h3><strong>Indietro</strong></h3>
			</a>
		</nav>
	</div>
	<!-- END SLIDER-->
</div>
<!-- END SLIDER AREA -->
</header>
<!--=========== End HEADER SECTION ================-->
<!--=========== BEGIN ABOUT SECTION ================-->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="about_area">
					<!-- START ABOUT HEADING -->
					<div class="heading froala-editor-html blockToSaveAction" data-block-code="simple_about_heading">
						{% get_theme_val website_key_val_dict default_key_val_dict "simple_about_heading" edit %}
					</div>
					<!-- START ABOUT CONTENT -->
					<div class="about_content">
						<div class="row froala-editor-html blockToSaveAction" data-block-code="simple_about_block1">
							{% get_theme_val website_key_val_dict default_key_val_dict "simple_about_block1" edit %}
						</div>
					</div>
					<div class="about_content">
						<div class="row froala-editor-html blockToSaveAction" data-block-code="simple_about_block2">
							{% get_theme_val website_key_val_dict default_key_val_dict "simple_about_block2" edit %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=========== END ABOUT SECTION ================-->
<!--=========== BEGIN SERVICE SECTION ================-->
<section id="service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<!-- BEGAIN SERVICE HEADING -->
				<div class="heading froala-editor-html blockToSaveAction" data-block-code="simple_services_heading">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_services_heading" edit %}
				</div>
			</div>
		</div>
		<div class="row froala-editor-html blockToSaveAction" data-block-code="simple_services_block1">
			{% get_theme_val website_key_val_dict default_key_val_dict "simple_services_block1" edit %}
		</div>
	</div>
</section>
<!--=========== END SERVICE SECTION ================-->
<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- START CONTACT HEADING -->
				<div class="heading froala-editor-html blockToSaveAction" data-block-code="simple_contacts_heading">
					{% get_theme_val website_key_val_dict default_key_val_dict "simple_contacts_heading" edit %}
				</div>
			</div>
		</div>
		{% if map_position %}
			<div class="row">
				<!-- BEGAIN CONTACT CONTENT -->
				<div class="contact_content">
					<!-- BEGAIN CONTACT MAP -->
					<div class="col-xs-12">
						<div class="contact_map">
							<!-- BEGAIN GOOGLE MAP -->
							<div id="map_canvas"></div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</section>
<!--=========== END CONTACT SECTION ================-->
<!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
<section id="contactFeature">
	<div class="row froala-editor-html blockToSaveAction" data-block-code="simple_contacts_block1">
		{% get_theme_val website_key_val_dict default_key_val_dict "simple_contacts_block1" edit %}
	</div>
</section>
<!--=========== END CONTACT FEATURE SECTION ================-->
{% endblock page_content %}

{% block extra_js %}
	{% if map_position %}
		<!-- Google map -->
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script src="{% static "simple/js/jquery.ui.map.js" %}"></script>
		<script>
			$(document).ready(function(){
				var zoom= $('#map_canvas').gmap('option', 'zoom');
				$('#map_canvas').gmap().bind('init', function(ev, map) {
					$('#map_canvas').gmap('addMarker', {'position': '{{ map_position }}', 'bounds': true});
					$('#map_canvas').gmap('option', 'zoom', 15);
				});
			});
		</script>
	{% endif %}
{% endblock extra_js %}
