{% extends "simple/inc/base.html" %}
{% load staticfiles static %}

{% block page_content %}
<!-- BEGIN SLIDER AREA-->
<div class="slider_area">
	<!-- BEGIN SLIDER-->          
	<div id="slides">
		<ul class="slides-container">
			<!-- THE FIRST SLIDE-->
			<li>
				<!-- FIRST SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- FIRST SLIDE MAIN IMAGE -->
				<img src="{% static "simple/img/full-slide1.jpg" %}" alt="img">
				<!-- FIRST SLIDE CAPTION-->
				<div class="slider_caption">
					<h2>Titolo principale 1</h2>
					<p>Descrizione del titolo principale 1</p>
					<a href="#about" class="slider_btn">Scopri di più</a>              
				</div>
			</li>
			<!-- THE SECOND SLIDE-->
			<li>
				<!-- SECOND SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- SECOND SLIDE MAIN IMAGE -->
				<img src="{% static "simple/img/full-slide1.jpg" %}" alt="img">
				<!-- SECOND SLIDE CAPTION-->
				<div class="slider_caption">
					<h2>Titolo principale 2</h2>
					<p>Descrizione del titolo principale 2</p>
					<a href="#about" class="slider_btn">Scopri di più</a>
				</div>
			</li>
			<!-- THE THIRD SLIDE-->
			<li>
				<!-- THIRD SLIDE OVERLAY -->
				<div class="slider_overlay"></div>
				<!-- THIRD SLIDE MAIN IMAGE -->
				<img src="{% static "simple/img/full-slide1.jpg" %}" alt="img">
				<!-- THIRD SLIDE CAPTION-->
				<div class="slider_caption">
					<h2>Titolo principale 3</h2>
					<p>Descrizione del titolo principale 2</p>
					<a href="#about" class="slider_btn">Scopri di più</a>                 
				</div>
			</li>
		</ul>
		<!-- BEGAIN SLIDER NAVIGATION -->
		<nav class="slides-navigation">
			<!-- PREV IN THE SLIDE -->
			<a class="prev" href="#">
				<span class="icon-wrap"></span>
				<h3><strong>Avanti</strong></h3>
			</a>
			<!-- NEXT IN THE SLIDE -->
			<a class="next" href="#">
				<span class="icon-wrap"></span>
				<h3><strong>Indietro</strong></h3>
			</a>
		</nav>
	</div>
	<!-- END SLIDER-->          
</div>
<!-- END SLIDER AREA -->
</header>
<!--=========== End HEADER SECTION ================--> 
<!--=========== BEGIN ABOUT SECTION ================-->
<section id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<div class="about_area">
					<!-- START ABOUT HEADING -->
					<div class="heading">
						<h2 class="wow fadeInLeftBig">Chi Siamo</h2>
						<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.</p>
					</div>
					<!-- START ABOUT CONTENT -->
					<div class="about_content">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about_featured">
									<div class="panel-group" id="accordion1">
										<!-- START SINGLE FEATURED ITEAM #1-->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1">
													<span class="fa fa-check-square-o"></span>Titolo blocco 1
													</a>
												</h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse in">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
										<!-- START SINGLE FEATURED ITEAM #2 -->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2">
													<span class="fa fa-check-square-o"></span>Titolo blocco 2
													</a>
												</h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
										<!-- START SINGLE FEATURED ITEAM #3 -->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3">
													<span class="fa fa-check-square-o"></span>Titolo blocco 3
													</a>
												</h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about_slider">
									<!-- BEGAIN FEATURED SLIDER -->
									<div class="featured_slider">
										<!-- SINGLE SLIDE IN THE SLIDER -->
										<div class="single_iteam">
											<img src="{% static "simple/img/feature_img1.jpg" %}" alt="img">
										</div>
									</div>
									<!-- END FEATURED SLIDER -->
								</div>
							</div>
						</div>
					</div>
					<div class="about_content">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about_slider">
									<!-- BEGAIN FEATURED SLIDER -->
									<div class="featured_slider">
										<!-- SINGLE SLIDE IN THE SLIDER -->
										<div class="single_iteam">
											<img src="{% static "simple/img/feature_img1.jpg" %}" alt="img">
										</div>
									</div>
									<!-- END FEATURED SLIDER -->
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12">
								<div class="about_featured">
									<div class="panel-group" id="accordion2">
										<!-- START SINGLE FEATURED ITEAM #1-->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion2" href="#collapse4">
													<span class="fa fa-check-square-o"></span>Titolo blocco 4
													</a>
												</h4>
											</div>
											<div id="collapse4" class="panel-collapse collapse in">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
										<!-- START SINGLE FEATURED ITEAM #2 -->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion2" href="#collapse5">
													<span class="fa fa-check-square-o"></span>Titolo blocco 5
													</a>
												</h4>
											</div>
											<div id="collapse5" class="panel-collapse collapse">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
										<!-- START SINGLE FEATURED ITEAM #3 -->
										<div class="panel panel-default wow fadeInLeft">
											<div class="panel-heading">
												<h4 class="panel-title">
													<a data-toggle="collapse" data-parent="#accordion2" href="#collapse6">
													<span class="fa fa-check-square-o"></span>Titolo blocco 6
													</a>
												</h4>
											</div>
											<div id="collapse6" class="panel-collapse collapse">
												<div class="panel-body">
													In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=========== END ABOUT SECTION ================-->
<!--=========== BEGIN SERVICE SECTION ================-->
<section id="service">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<!-- BEGAIN SERVICE HEADING -->
				<div class="heading">
					<h2 class="wow fadeInLeftBig">I Nostri Servizi</h2>
					<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 col-md-12">
				<!-- BEGAIN SERVICE  -->
				<div class="service_area">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInLeft">
								<div class="service_iconarea">
									<span class="fa fa-line-chart service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio1</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInRight">
								<div class="service_iconarea">
									<span class="fa fa-suitcase service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio2</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInLeft">
								<div class="service_iconarea">
									<span class="fa fa-eraser service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio3</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInRight">
								<div class="service_iconarea">
									<span class="fa fa-paper-plane service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio4</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInLeft">
								<div class="service_iconarea">
									<span class="fa fa-envelope-o service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio5</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6">
							<!-- BEGAIN SINGLE SERVICE -->
							<div class="single_service wow fadeInRight">
								<div class="service_iconarea">
									<span class="fa fa-support service_icon"></span>
								</div>
								<h3 class="service_title">Titolo servizio6</h3>
								<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=========== END SERVICE SECTION ================-->
<!--=========== BEGAIN CONTACT SECTION ================-->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<!-- START CONTACT HEADING -->
				<div class="heading">
					<h2 class="wow fadeInLeftBig">Contattaci</h2>
					<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- BEGAIN CONTACT CONTENT -->
			<div class="contact_content">
				<!-- BEGAIN CONTACT MAP -->
				<div class="col-xs-12">
					<div class="contact_map">
						<!-- BEGAIN GOOGLE MAP -->
						<div id="map_canvas"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=========== END CONTACT SECTION ================-->
<!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
<section id="contactFeature">
	<!-- SKILLS COUNTER OVERLAY -->
	<div class="slider_overlay"></div>
	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="container">
				<div class="contact_feature">
					<!-- BEGAIN CALL US FEATURE -->
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single_contact_feaured wow fadeInUp">
							<i class="fa fa-phone"></i>
							<h4>Telefono</h4>
							<p>+39 12345678</p>
						</div>
					</div>
					<!-- BEGAIN CALL US FEATURE -->
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single_contact_feaured wow fadeInUp">
							<i class="fa fa-envelope-o"></i>
							<h4>Email</h4>
							<p>tuaemail@mail.com</p>
						</div>
					</div>
					<!-- BEGAIN CALL US FEATURE -->
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single_contact_feaured wow fadeInUp">
							<i class="fa fa-map-marker"></i>
							<h4>Indirizzo</h4>
							<p>Indirizzo del negozio</p>
						</div>
					</div>
					<!-- BEGAIN CALL US FEATURE -->
					<div class="col-lg-3 col-md-3 col-sm-6">
						<div class="single_contact_feaured wow fadeInUp">
							<i class="fa fa-clock-o"></i>
							<h4>Orari</h4>
							<p>Lunedì-Venerdì 9.00-19.00</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--=========== END CONTACT FEATURE SECTION ================-->
{% endblock page_content %}
