{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrahead %}
	{{ block.super }}
	<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
	{{ adminform.media }}
{% endblock %}
{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
	<style>
		.footer_button_text_separator {
			display: inline;
			float: right;
			margin-left: 10px;
			margin-right: 10px;
			margin-top: 5px;
		}
		.textarea_promo_content {
			height: 100px;
			resize: none;
			width: 300px;
		}
		label {
			font-weight: bold!important;
			min-width: 145px;
		}
		.legend_container {
			color: #333;
			margin-top: 17px;
			margin-bottom: 6px;
		}
	</style>
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
</div>
{% endblock %}
{% block content %}
<div id="content-main">
	<form name="code_validator_form" action="" method="post">
		{% csrf_token %}
		<input type="hidden" name="code_validator_form" value="1" />

		{% block field_sets %}
			<div>
				<fieldset class="module aligned ">
					{% if promotion_details %}
						<div class="form-row">
							<div>
								<label>Titolo promozione:</label>
								<input type="text" name="promo_title" value="{{ promotion_details.name }}" readonly="readonly">
							</div>
							<div>
								<label>Contenuto promozione:</label>
								<textarea class="textarea_promo_content" name="promo_content" readonly="readonly">{{ promotion_details.description }}</textarea>
							</div>
							<div>
								<label>Codice promozione:</label>
								<input type="text" name="promo_code" value="{{ promotion_details.code }}" readonly="readonly">
							</div>
						</div>
					{% else %}
						{% for fieldset in form %}
							<div class="form-row">
								<div>
									{{ fieldset.errors }}
									{{ fieldset.label_tag }} {{ fieldset }}
								</div>
							</div>
						{% endfor %}
					{% endif %}
				</fieldset>
			</div>
			{% if promotion_details %}
				<div class="legend_container">
					Clicca su <b>"Riscatta codice"</b> per validare il codice coupon.
				</div>
			{% endif %}
		{% endblock %}

		<div class="submit-row">
			{% if redeem_code %}
				<input type="submit" name="redeem_code" class="default" value="Riscatta codice">
				<div class="footer_button_text_separator">oppure</div>
				<input type="submit" name="cancel" value="Annulla operazione">
			{% else %}
				<input type="submit" name="_save" class="default" value="Valida codice">
			{% endif %}
		</div>
	</form>
</div>
{% endblock %}
