{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="upload_image_box widget example">
		<title>upload_image_box widget example</title>

		<link rel="stylesheet" href="{% static "website/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "website/css/bootstrap_custom.css" %}">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://malsup.github.com/jquery.form.js"></script> 
		<script src="{% static "website/js/vendor/bootstrap.min.js" %}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.9.1/cropper.min.js"></script> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropper/0.9.1/cropper.min.css">
	</head>
	<body>
		<h3>Upload image box example:</h3>
		{{ form_no_crop.media }}
		<form enctype="multipart/form-data" method="post" action="">
			{% csrf_token %}
			{{ form_no_crop.image }}
		</form>
		<br />
		<form enctype="multipart/form-data" method="post" action="">
			{% csrf_token %}
			{{ form_crop.image }}
		</form>
		<script>
			function callback_function() {
				alert("Questa è la funzione di callback");
			};
		</script>
	</body>
</html>
