{% extends "classic/inc/base2.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block contact_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{{ website_key_val_dict|get_item:"classic_contacts_title" | safe }}{% endblock %}
{% block page_subtitle %}{{ website_key_val_dict|get_item:"classic_contacts_subtitle" | safe }}{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<style>
		#map_canvas{ width: 100%; height: 404px; }
	</style>
	<div id="fh5co-contact" class="animate-box">
		<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-title">{{ website_key_val_dict|get_item:"classic_contacts_section_one_title" | safe }}</h3>
						<p>{{ website_key_val_dict|get_item:"classic_contacts_section_one_content" | safe }}</p>
						<ul class="contact-info">
							<li><i class="icon-location-pin"></i>{{ website_key_val_dict|get_item:"classic_contacts_address1" | safe }}</li>
							<li><i class="icon-phone2"></i>{{ website_key_val_dict|get_item:"classic_contacts_phone1" | safe }}</li>
							<li><i class="icon-mail"></i><a href="mailto:{{ website_key_val_dict|get_item:"classic_contacts_email1" | safe }}">{{ website_key_val_dict|get_item:"classic_contacts_email1" | safe }}</a></li>
							<li><i class="icon-clock"></i>{{ website_key_val_dict|get_item:"classic_contacts_timetables1" | safe }}</li>
						</ul>
					</div>
				</div>
			</form>
			<!-- END fh5co-contact -->
			<div id="map_canvas"></div>
			<!-- END map -->
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<!-- Google map -->
	<script src="//maps.googleapis.com/maps/api/js"></script>
	<script src="{% static "classic/js/jquery.ui.map.js" %}"></script>

	<script>
		$(document).ready(function(){
			// Google Map
			var zoom = $('#map_canvas').gmap('option', 'zoom');
				$('#map_canvas').gmap().bind('init', function(ev, map) {
				$('#map_canvas').gmap('addMarker', {'position': '{{ website_key_val_dict|get_item:"classic_contacts_section_one_maps_position" | safe }}', 'bounds': true});
				$('#map_canvas').gmap('option', 'zoom', 15);
			});
		});
	</script>
{% endblock %}
