{% extends "classic/inc/base2.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block contact_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_contacts_title" edit %}{% endblock %}
{% block page_subtitle %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_contacts_subtitle" edit %}{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title_block_code %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_contacts_title" edit %}{% endblock %}
{% block page_subtitle_block_code %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_contacts_subtitle" edit %}{% endblock %}

{% get_theme_val preferences_key_val_dict default_preferences_key_val_dict "contacts_maps_position" edit as map_position %}

{# contenuto della pagina #}
{% block page_content %}
	<style>
		#map_canvas{ width: 100%; height: 404px; }
	</style>
	<div id="fh5co-contact" class="animate-box">
		<div class="container">
			<form action="#">
				<div class="row froala-editor-html blockToSaveAction" data-block-code="classic_contacts_block1">
					{% get_theme_val website_key_val_dict default_key_val_dict "classic_contacts_block1" edit %}
				</div>
			</form>
			<!-- END fh5co-contact -->
			{% if map_position %}
				<div id="map_canvas"></div>
			{% endif %}
			<!-- END map -->
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	{% if map_position %}
		<!-- Google map -->
		<script src="//maps.googleapis.com/maps/api/js"></script>
		<script src="{% static "classic/js/jquery.ui.map.js" %}"></script>
		<script>
			$(document).ready(function(){
				// Google Map
				var zoom = $('#map_canvas').gmap('option', 'zoom');
					$('#map_canvas').gmap().bind('init', function(ev, map) {
					$('#map_canvas').gmap('addMarker', {'position': '{{ map_position }}', 'bounds': true});
					$('#map_canvas').gmap('option', 'zoom', 15);
				});
			});
		</script>
	{% endif %}
{% endblock %}
