{% extends "classic/inc/base2.html" %}
{% load staticfiles static %}

{# navigazione attiva #}
{% block contact_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}Contatti{% endblock %}
{% block page_subtitle %}Lorem ipsum dolor sit amet, consectetur adipiscing elit{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<style>
		#map_canvas{
			width: 100%;
			height: 404px;
		}
	</style>
	<div id="fh5co-contact" class="animate-box">
		<div class="container">
			<form action="#">
				<div class="row">
					<div class="col-md-12">
						<h3 class="section-title">Contatti</h3>
						<p>In una terra lontana, dietro le montagne Parole, lontani dalle terre di Vocalia e Consonantia, vivono i testi casuali. Vivono isolati nella cittadina di Lettere, sulle coste del Semantico, un immenso oceano linguistico. Un piccolo ruscello chiamato Devoto Oli attraversa quei luoghi, rifornendoli di tutte le regolalie di cui hanno bisogno.</p>
						<ul class="contact-info">
							<li><i class="icon-location-pin"></i>Indirizzo del negozio</li>
							<li><i class="icon-phone2"></i>+39 123456789</li>
							<li><i class="icon-mail"></i><a href="#">tuaemail@mail.com</a></li>
							<li><i class="icon-clock"></i>Lunedì-Venerdì 9.00-19.00</li>
						</ul>
					</div>
				</div>
			</form>
			<!-- END fh5co-contact -->
			<div id="map_canvas"></div>
			<!-- END map -->
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<!-- Google map -->
	<script src="//maps.googleapis.com/maps/api/js"></script>
	<script src="{% static "classic/js/jquery.ui.map.js" %}"></script>

	<script>
		$(document).ready(function(){
			// Google Map
			var zoom = $('#map_canvas').gmap('option', 'zoom');
				$('#map_canvas').gmap().bind('init', function(ev, map) {
				$('#map_canvas').gmap('addMarker', {'position': '45.0711813,7.6850388', 'bounds': true});
				$('#map_canvas').gmap('option', 'zoom', 15);
			});
		});
	</script>
{% endblock %}
