{% extends "classic/inc/base1.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block home_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{% if website_key_val_dict|get_item:"classic_index_title" %}{{ website_key_val_dict|get_item:"classic_index_title" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_title_default" | safe }}{% endif %}{% endblock %}
{% block page_subtitle %}{% if website_key_val_dict|get_item:"classic_index_subtitle" %}{{ website_key_val_dict|get_item:"classic_index_subtitle" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_subtitle_default" | safe }}{% endif %}{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<!-- end:header-top -->
	<div id="fh5co-features">
		<div class="container">
			<div class="row froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_index_block1" %}{{ website_key_val_dict|get_item:"classic_index_block1" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_block1_default" | safe }}{% endif %}
			</div>
		</div>
	</div>

	<div id="fh5co-feature-product" class="fh5co-section-gray">
		<div class="container">
			<div class="row row-bottom-padded-md froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_index_block2" %}{{ website_key_val_dict|get_item:"classic_index_block2" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_block2_default" | safe }}{% endif %}
			</div>
			<div class="row froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_index_block3" %}{{ website_key_val_dict|get_item:"classic_index_block3" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_block3_default" | safe }}{% endif %}
			</div>
			<div class="row froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_index_block4" %}{{ website_key_val_dict|get_item:"classic_index_block4" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_block4_default" | safe }}{% endif %}
			</div>
		</div>
	</div>

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_index_block5" %}{{ website_key_val_dict|get_item:"classic_index_block5" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_index_block5_default" | safe }}{% endif %}
			</div>
		</div>
	</div>
	<!-- END What we do -->
{% endblock %}
