{% extends "classic/inc/base1.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block home_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_title" edit %}{% endblock %}
{% block page_subtitle %}{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_title" edit %}{% endblock %}

{# per poter salvare via ajax il contenuto dei blocchi #}
{% block page_title_block_code %}classic_index_title{% endblock %}
{% block page_subtitle_block_code %}classic_index_title{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<!-- end:header-top -->
	<div id="fh5co-features">
		<div class="container">
			<div class="row froala-editor-html blockToSaveAction" data-block-code="classic_index_block1">
				{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_block1" edit %}
			</div>
		</div>
	</div>

	<div id="fh5co-feature-product" class="fh5co-section-gray">
		<div class="container">
			<div class="row row-bottom-padded-md froala-editor-html blockToSaveAction" data-block-code="classic_index_block2">
				{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_block2" edit %}
			</div>
			<div class="row froala-editor-html blockToSaveAction" data-block-code="classic_index_block3">
				{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_block3" edit %}
			</div>
			<div class="row froala-editor-html blockToSaveAction" data-block-code="classic_index_block4">
				{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_block4" edit %}
			</div>
		</div>
	</div>

	<div id="fh5co-portfolio">
		<div class="container">
			<div class="row froala-editor-html blockToSaveAction" data-block-code="classic_index_block5">
				{% get_theme_val website_key_val_dict default_key_val_dict "classic_index_block5" edit %}
			</div>
		</div>
	</div>
	<!-- END What we do -->
{% endblock %}
