{% extends "classic/inc/base2.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block service_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{% if website_key_val_dict|get_item:"classic_services_title" %}{{ website_key_val_dict|get_item:"classic_services_title" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_services_title_default" | safe }}{% endif %}{% endblock %}
{% block page_subtitle %}{% if website_key_val_dict|get_item:"classic_services_subtitle" %}{{ website_key_val_dict|get_item:"classic_services_subtitle" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_services_subtitle_default" | safe }}{% endif %}{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<div id="fh5co-services-section" class="fh5co-section-gray">
		<div class="container">
			<div class="row froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_services_block1" %}{{ website_key_val_dict|get_item:"classic_services_block1" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_services_block1_default" | safe }}{% endif %}
			</div>
		</div>
		<div class="container">
			<div class="row text-center froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_services_block2" %}{{ website_key_val_dict|get_item:"classic_services_block2" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_services_block2_default" | safe }}{% endif %}
			</div>
		</div>
	</div>

	<div id="fh5co-services">
		<div class="container">
			<div class="row row-bottom-padded-lg froala-editor-html">
				{% if website_key_val_dict|get_item:"classic_services_block3" %}{{ website_key_val_dict|get_item:"classic_services_block3" | safe }}{% else %}{{ default_key_val_dict|get_item:"classic_services_block3_default" | safe }}{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
