{% extends "classic/inc/base2.html" %}
{% load staticfiles static custom_tags %}

{# navigazione attiva #}
{% block service_navigation_active %}active{% endblock %}

{# titolo e sottotitolo della pagina #}
{% block page_title %}{{ website_key_val_dict|get_item:"classic_services_title" | safe }}{% endblock %}
{% block page_subtitle %}{{ website_key_val_dict|get_item:"classic_services_subtitle" | safe }}{% endblock %}

{# contenuto della pagina #}
{% block page_content %}
	<div id="fh5co-services-section" class="fh5co-section-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
					<h3>{{ website_key_val_dict|get_item:"classic_services_section_one_title" | safe }}</h3>
					<p>{{ website_key_val_dict|get_item:"classic_services_section_one_content" | safe }}</p>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row text-center">
				{{ website_key_val_dict|get_item:"classic_services_blocks" | safe }}
			</div>
		</div>
	</div>

	<div id="fh5co-services">
		<div class="container">
			<div class="row row-bottom-padded-lg" >
				<div class="col-md-3 service-bg service-1"></div>
				<div class="col-md-8 col-md-push-1">
					<h2>{{ website_key_val_dict|get_item:"classic_services_first_service_title" | safe }}</h2>
					<p>{{ website_key_val_dict|get_item:"classic_services_first_service_content" | safe }}</p>
					{{ website_key_val_dict|get_item:"classic_services_first_service_list" | safe }}
				</div>
			</div>
			<div class="row row-bottom-padded-lg">
				<div class="col-md-3 col-md-push-8 service-bg service-2"></div>
				<div class="col-md-7 col-md-pull-3">
					<h2>{{ website_key_val_dict|get_item:"classic_services_second_service_title" | safe }}</h2>
					<p>{{ website_key_val_dict|get_item:"classic_services_second_service_content" | safe }}</p>
					{{ website_key_val_dict|get_item:"classic_services_second_service_list" | safe }}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
