{% extends "website/inc/base.html" %}
{% load staticfiles static %}
{# top page section #}
{% block page_top %}
	<section id="home">
		<div id="particles">
			<div class="cont-area">
				<div class="container banner-area">
					<!-- Start: Slider Container -->
					<ul class="slides clearfix">
						<!-- Start: Slider 01 -->
						<li>
							<h1>{{ project_constants.seo_data.www_index.page_title }}</h1>
							<h5>Siti Internet realmente utili ad alto impatto grafico</h5> <a href="/scelta-guidata" class="button-large">Scopri di più</a>
						</li>
						<!-- End: Slider 01 -->
						<!-- Start: Slider 02 -->
						<li>
							<h2>Sviluppiamo il tuo business</h2>
							<h5>Usiamo tecnologie all'avanguardia per potenziare la tua immagine</h5> <a href="/scelta-guidata" class="button-large">Scopri di più</a>
						</li>
						<!-- End: Slider 02 -->
						<!-- Start: Slider 03 -->
						<li>
							<h2>Raggiungi nuovi clienti</h2>
							<h5>Traduciamo il tuo audience in potenziali clienti</h5> <a href="/scelta-guidata" class="button-large">Scopri di più</a>
						</li>
						<!-- End: Slider 03 -->
					</ul>
					<!-- End: Slider Container -->
				</div>
			</div>
			<!-- Start: Banner Bottom -->
			<div class="banner-btm-img"><img src="{% static "website/img/buildings.png" %}" alt="Siti Web ad alto impatto grafico"> </div>
			<!-- End: Banner Bottom -->
		</div>
	</section>
{% endblock %}
